[2018-03-23 02:56] #403 closed

[2018-03-23 03:04] domesticmouse commented on #392
While I understand the desire to have more complete functionality, the model classes of this library are purely data transfer objects to capture the results of the API calls. You will need to use other libraries to do geographic computations like includes and excludes. Sorry!

[2018-03-23 03:04] #392 closed

[2018-03-23 03:09] domesticmouse commented on #391
I understand the desire here, however the use of this `LatLng` class is purely for transferring data to and from the various [Google Maps APIs Web Services](https://developers.google.com/maps/web-services/overview) API endpoints.

We do minor sanity checks on things that will always fail on the API endpoints, but apart from that I'd rather not put further intelligence into this library.

[2018-03-23 03:09] #391 closed

[2018-03-23 05:55] domesticmouse commented on #361
One investigation that would be interesting would be to insert a try/catch/retry around the `PendingResultBase.makeRequest(...)` level, and see if that makes the issue go away...

[2018-03-23 05:59] #360 closed

[2018-03-27 23:21] roman-ku commented on #348
I don't understand why I can't use this on Android. Because Google doesn't want to have my own API key stolen? Is that it? Is that the only reason?

I am a solo dev working on a transit app, I can't afford to host a server let alone do the coding for a server and an app.

The blog post doesn't really have much of an explanation.

[2018-03-28 00:40] domesticmouse commented on #348
While I empathize with your situation as a sole developer, where you are attempting to rationally spend your time on user facing features that will gain you that all important product market fit, on your way to being able to grow your company and all that.

It is worth viewing an API Key as akin to a credit card number. Having your API Key stolen opens you up to attackers abusing your API Key and

[2018-04-03 06:13] auxor opened #411 "Get error when using client id & secret in GeolocationApi"
I got the following error. It's blocked by [supportsClientId(false)](https://github.com/googlemaps/google-maps-services-java/blob/0301b9f6283389ba06bb23d5c642607d2a09dbb1/src/main/java/com/google/maps/GeolocationApi.java#L41). Why it does't support client id in GeolocationApi?

onError java.lang.IllegalStateException: API does not support client ID & secret - you must provide a key

04-03 13:53:03

[2018-04-03 06:20] domesticmouse commented on #411
If you look at the documentation for [Geolocation API](https://developers.google.com/maps/documentation/geolocation/intro) you will see it doesn't support the old style client id. It only supports  using API Keys.

[2018-04-03 06:20] #411 closed

[2018-04-03 13:07] Makabane opened #412 "Add library to enum AddressType"
Hi, I got this warning :
`Unknown type for enum com.google.maps.model.AddressType: 'library'`
when I request

with google-maps-services-0.1.15.jar

[2018-04-09 07:05] domesticmouse commented on #361
Closing this out as I can't see what this library can do in the face of a randomly failing JCE.

[2018-04-09 07:05] #361 closed

[2018-04-09 07:06] domesticmouse commented on #412
This will be in the next release, which should go out shortly. Thanks!

[2018-04-09 07:06] #412 closed

[2018-04-09 07:34] domesticmouse commented on #349
Updated the project README.md to make non-support of Android more specific.

[2018-04-09 07:34] #349 closed

[2018-04-09 07:35] domesticmouse commented on #348
Updated the project README.md to make non-support of Android more specific.

[2018-04-09 07:35] #348 closed

[2018-04-09 08:30] baltar commented on #348
Thanks @domesticmouse

@roman-ku please note that you don't need to use a proxy server; if you can use the standard Android libraries for accessing the services (e.g. com.google.android.gms:play-services-maps, com.google.android.gms:play-services-places etc.), you can create an additional API key for that and restrict it to specific Android applications (identified by package name + a fingerprint

[2018-04-10 17:42] nponmani opened #416 "instead of calling Google Geocode services for testing can we able to virtualize it using tools?"

[2018-04-16 04:25] domesticmouse commented on #416
I suggest you test at a layer above this client library, injecting this library as a run time dependency. There should be no need for you to test this library in your unit tests.

[2018-04-16 04:25] #416 closed

[2018-04-16 14:33] nponmani commented on #416
We are executing performance testing by virtualize the Geocode. We need to provide the virtualize host instead of maps.googleapis.com host name.

[2018-04-17 03:41] domesticmouse commented on #416
I understand your requirement, however it isn't one we are prioritising supporting. Sorry!

[2018-04-23 14:32] timothyBrake opened #417 "How to specify the language for the response data?"
E.g. the response of any request should always be in a specific language e.g. English, even if the request contains the French city name like Bruxelles, I would like "Brussels" as the response.

Is this possible?

Thanks,
T

[2018-04-24 01:01] domesticmouse commented on #417
All the requests have a `language` parameter.

[2018-04-24 07:39] timothyBrake commented on #417
Yes I have noticed the Google maps API has a language and a region parameter but none seem to work properly. There are 2 questions here:

-  how to specify the language in the Java API?

`GeoApiContext.Builder().language(String language) would be great but haven't found it.
 GeoApiContext.Builder().param(String key, String value) would be great but haven't found it.`

-  how to always get the corr

[2018-04-25 01:26] domesticmouse commented on #417
Here is the [DirectionsApiRequest language parameter Javadoc](https://googlemaps.github.io/google-maps-services-java/v0.2.7/javadoc/com/google/maps/DirectionsApiRequest.html#language-java.lang.String-). That's how you pass through the language to the web services.

[2018-04-26 03:52] domesticmouse commented on #417
That sounds like a bug. Can you raise it on the appropriate web service [bug tracker](https://developers.google.com/maps/support/#issue_tracker)?

[2018-04-26 03:52] #417 closed

[2018-04-26 14:53] proft opened #418 "profile_photo_url field for Review"
Hi!
I use the lastest version ``0.2.7`` but I can't get ``profile_photo_url`` field for ``Review`` model.
According to https://developers.google.com/places/web-service/details there is ``profile_photo_url`` field.
Android Studio (3.1.2) just highlight  ``profile_photo_url`` field with red line.

Is it possible to get ``profile_photo_url`` field for ``Review`` model?

[2018-05-07 15:32] ptahchiev opened #420 "Don't use joda-time."
Do you really need to use joda-time? How about plain old `java.time.LocalDateTime`? If you really need to use it, then please mark the dependency as optional and do some checks in your code if the client has it included.

[2018-05-14 03:38] domesticmouse commented on #420
Currently the return types include times marked up as `joda-time` types. When this library was written, `java.time.LocalDateTime` was still quite new, and the requiredment for Java 1.8 was unacceptable to many users.

With that said, I'm happy to accept a PR that migrates all usage of joda-time across to Java 1.8 types. Thanks!

[2018-05-14 12:59] KiriyaKeat opened #422 "StaticMapsRequest.toUrlValue breaks in 1.7"
String.join() was only introduced as part of Java 1.8 and as such will break anyone running Java 1.7.

Does the project intend on continuing support for 1.7 or will it only be be supporting 1.8?

[2018-05-14 13:35] KiriyaKeat commented on #422
Would it be possible to replace the String.join method with the following private method?
-      return String.join("|", urlParts);
+      return join("|", urlParts);
+    }
+  }
+
+  private String join(String seperator, List<String> urlParts) {
+    StringWriter sw = new StringWriter();
+    if (urlParts != null && !urlParts.isEmpty()) {
+      Iterator<String> it = urlParts.iterator();
+      s

[2018-05-15 02:01] domesticmouse commented on #422
I'm curious what platform you are on that still requires Java 1.7 support. Oracle end of life'd 1.7 back in 2015.

[2018-05-15 02:06] KiriyaKeat commented on #422
Yeah I know, will have to upgrade one day.
I'm still running Jboss in the process of migrating to Wildfly.

On the code page it states 1.7 or later, so if you don't intend on supporting 1.7 then it should be updated to 1.8 or later.

[2018-05-15 02:10] domesticmouse commented on #422
Yeah, good call. I have out standing patches that migrate the codebase from using joda-time to the Java 1.8 included version of same. I'm trying to guess how many people are still on 1.7 and for how long. I'm happy to push back on Java 1.8 for six months if that helps you?

[2018-05-15 02:18] KiriyaKeat commented on #422
Yeah, that would be great. I just have to go through all the DB index references and a lot of testing on Wildfly.

[2018-05-15 02:29] domesticmouse commented on #420
This has an active PR: https://github.com/googlemaps/google-maps-services-java/pull/421

I am holiding this change for six months because of: https://github.com/googlemaps/google-maps-services-java/issues/422

[2018-05-15 02:33] domesticmouse commented on #422
Btw, I believe this specific issue was just fixed by @astachelek in https://github.com/googlemaps/google-maps-services-java/commit/947d21b095e6ef58a3b606b1815d87577f6e8ac9

This will be in the next release.

[2018-05-15 02:34] #422 closed

[2018-05-28 08:13] martijnvanderwoud opened #425 "Warning: Unknown type for enum com.google.maps.model.AddressType: 'car_wash'"
It looks an entry for "car_wash" needs to be added to the AddressType enum

[2018-05-29 00:10] Meilarium opened #426 "Unknown type for enum com.google.maps.model.AddressType: 'hardware_store'"
When i try to use : GeocodingApi.geocode(geoApiContext, "kiloutou, Houilles").await();
This error is raised : Unknown type for enum com.google.maps.model.AddressType: 'hardware_store'
Version : 0.2.7
Thanks for an update ?

[2018-06-04 13:23] broglep-koubachi opened #427 "Hard to customised OkHttpRequestHandler's OkHttpClient"
The current builder OkHttpRequestHandler only allows limited configuration of the OkHttpClient that will be created.

It would be convenient to allow passing a custom OkHttpClient.Builder to the OkHttpRequestHandle.Builder with built upon

[2018-06-11 07:51] sleepstream opened #429 "Service com.htc.smartdim.sensor_eye has leaked IntentReceiver"
After add  compile 'com.google.maps:google-maps-services:0.2.7'

I have this error app not start:

06-11 10:47:26.222 871-871/? E/ActivityThread: Service com.htc.smartdim.sensor_eye has leaked IntentReceiver com.htc.smartdim.sensor_eye$CoverStateReceiver@4265df30 that was originally registered here. Are you missing a call to unregisterReceiver()?
                                               andr

[2018-06-11 08:09] #429 closed

[2018-06-12 16:54] dvankley opened #430 "NearbySearchRequest only returning results for a single place type"
I haven't had a problem with this until recently, but it seems that the Google Places API is only returning results for the first place type set in the request.

To be more specific, I'm setting multiple `PlaceType`s [here](https://github.com/googlemaps/google-maps-services-java/blob/9b54a6ff5bef9afb4ae185f6f78c28ea69bf806e/src/main/java/com/google/maps/NearbySearchRequest.java#L169), but I only g

[2018-06-13 08:58] psmagin commented on #430
According to [guide](https://developers.google.com/places/web-service/search#PlaceSearchRequests):
Only one type may be specified (if more than one type is provided, all types following the first entry are ignored)
So, deprecated method?

[2018-06-13 17:03] dvankley commented on #430
@psmagin good call, that looks like it.
Yeah, that method should be deprecated.

[2018-06-21 07:48] serlesen opened #433 "Warning: Unknown type for enum com.google.maps.model.AddressComponentType"
When I request `GeocodignApi#reverseGeocode` with the following lat lng (41.38506390,2.17340350), I got the warning:

[2018-06-24 10:32] ptahchiev commented on #261
Just to let you know - i'm using `0.2.7` from maven repo and I still see the same warning:
[code]

[2018-06-24 10:34] ptahchiev commented on #261
@domesticmouse  I also see one more about `Rate Limited Dispatcher`:
[code]

[2018-06-24 10:36] ptahchiev commented on #261
Here's my whole stacktrace:
[code]

[2018-06-25 05:34] domesticmouse commented on #261
Version 0.2.8 is in the process of being uploaded through maven, tho I doubt it changes the status of the error you are seeing. I'll look into this once I get some time. Thanks for the report!

[2018-06-25 11:53] shsachin opened #434 "PlaceDetails.types should be of class AddressType[] not String[]"
[PlaceDetails.java](https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/model/PlaceDetails.java) defines
     `public String[] types;`
[GeocodingResult.java](https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/model/GeocodingResult.java) defines
     `public AddressType[] types;`

This looks inconsistent.

[2018-06-25 12:01] shsachin commented on #280
User should be able to provide collection of exceptions that should be retried on.
Below looks hardcoded [here](https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/GeoApiContext.java).

`this.exceptionsAllowedToRetry.add(OverQueryLimitException.class);`

[2018-06-26 07:42] shsachin opened #435 "Inappropriate method name : baseUrlForTesting can be used for Google Maps China"
[GeoApiContext.java](https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/GeoApiContext.java) names a method as baseUrlForTesting
`Builder baseUrlForTesting(String baseUrl)`
As per [Google Maps China documentation](https://developers.google.com/maps/documentation/javascript/localization#GoogleMapsChina),
this method can also be used for, overriding base

[2018-07-01 09:50] apjanke commented on #433
Fixed by #436.

[2018-07-01 09:57] apjanke opened #450 "Value-based toString() for model objects?"
Would you be interested in a PR that added value-based `toString()` implementations to the classes in `com.google.maps.model`?

Right now, most of them use the default `java.lang.Object` `toString()`, which returns something like `<ClassName>@<hashCode>`, and since they use the default `hashCode()`, that gives a value based on object identity.

These are value classes, so their content is probably

[2018-07-01 09:58] apjanke commented on #425
Fixed in https://github.com/googlemaps/google-maps-services-java/commit/28fe395b00673b39681d39e0f2bf5ed99f1dcd63.

[2018-07-01 09:58] apjanke commented on #426
Fixed in https://github.com/googlemaps/google-maps-services-java/commit/28fe395b00673b39681d39e0f2bf5ed99f1dcd63.

[2018-07-01 11:05] domesticmouse commented on #450
Yup, that sounds reasonable to me.

[2018-07-01 11:07] domesticmouse commented on #426
Actually, I'll close these out when I release

[2018-07-02 04:28] apjanke commented on #450
Here's what I'm thinking: #452. If that looks good to you, I'll add some tests to it.

[2018-07-02 04:32] apjanke commented on #418
Fixed in #432.

In the Java object model, it's [`profilePhotoUrl`](https://github.com/googlemaps/google-maps-services-java/blob/78f52824567b64ba59a71960f79dd2800777300b/src/main/java/com/google/maps/model/PlaceDetails.java#L163-L164), not `profile_photo_url`.

[2018-07-02 04:34] domesticmouse commented on #450
Yup, it looks good to me. After adding tests, please make sure the formatting is correct with:

[code]

Thanks!

[2018-07-02 04:38] apjanke commented on #434
I agree. The [Place Details API documentation](https://developers.google.com/places/web-service/details) refers to types as being one of the supported Address Types, and [links to the list we use for AddressType](https://developers.google.com/places/web-service/supported_types#table2).

[2018-07-02 04:42] apjanke commented on #450
Thought I already did that! Running it locally is showing no changes to do.

[code]

[2018-07-02 04:45] domesticmouse commented on #450
All good, I can't check validity of a PR until after I merge it =)

[2018-07-02 04:51] #434 closed

[2018-07-02 04:52] domesticmouse commented on #450
Ping me when you have added tests and I'll merge. Thanks!

[2018-07-02 04:54] apjanke commented on #450
Will probably be tomorrow; it's 1:00 AM out here right now. :)

You're welcome!

[2018-07-02 04:55] domesticmouse commented on #450
Sleep is good, i'll still be here tomorrow =)

[2018-07-02 05:38] apjanke commented on #261
Question: my impression from reading the code base was that GeoApiContext was intended to be used as a Singleton, or at least one instance per account/API key, otherwise the rate limiting wouldn’t work correctly, since Google’s rate limiting aggregates queries on a per-account or per-key basis. Are you expecting to have multiple GeoApiContext objects active simultaneously?

@pooi-pooi: I don’t see

[2018-07-02 06:12] domesticmouse commented on #261
Yup it is meant to be a singleton. There are advanced use cases where
multiple contexts make sense, thus the lack of language level enforcement
of the singleton pattern.
On Mon, 2 Jul 2018 at 3:38 pm, Andrew Janke <notifications@github.com>
wrote:

[2018-07-02 10:17] apjanke commented on #261
Here's another data point. I've added `exercise-linger` and `exercise-mt-separate-contexts` subcommands to [my `gmsj-cli` tool](https://github.com/apjanke/gmsj-cli) to reproduce and debug this.

The `exercise-linger` case just creates a bunch of GeoApiContext objects in serial, running 100 queries on each, and shutting each down. It tops out at about 80 open threads. That seems more than necessary

[2018-07-03 07:05] apjanke commented on #261
I totally misread the source; it is in fact using a worker pool.

@ptahchiev I'm unable to reproduce the leak of threads from the main google-maps-services-java classes. Are you sure your app is calling `GeoApiContext.shutdown()` when it is done with them, or re-using a shared singleton GeoApiContext?

I am seeing thread growth up to about a steady state of 800 threads when I run a bunch of multi-

[2018-07-03 07:52] apjanke opened #457 "Is SLF4J 1.8.0-beta2 premature?"
In https://github.com/googlemaps/google-maps-services-java/commit/ba40166a0113948765b03fb8725b76a2f350b220, the SLF4J dependency was updated from 1.7.25 to 1.8.0-beta2. Maybe this is premature? google-maps-services-java is a production quality library – should it be using a beta version of a dependency?

I'm also wondering if you might want to wait a bit before upgrading to SLF4J 1.8. SLF4J has ha

[2018-07-03 08:08] apjanke commented on #427
This seems reasonable.

I see a couple ways it could be done. The okHttpRequestHandler.Builder could expose an okHttpClientBuilder property to accept a full builder to be specified, if it’s safe for the user to completely customize the okhttpclient. Or it could expose all the individual properties that are safe to customize, delegating them to its internally-managed OkHttpClient.Builder.

[2018-07-03 08:35] shsachin opened #458 "plus_code is missing in model GeocodingResult"
[plus_code](https://developers.google.com/maps/documentation/geocoding/intro#pluscode) needs to be included in model class [GeocodingResult.java](https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/model/GeocodingResult.java)

[2018-07-03 08:48] apjanke commented on #458
Can you give an example of a Geocoding query that includes a `plus_code` in its result? I'm trying some sample queries around Sydney, AUS and they aren't coming back with plus_codes.

[2018-07-03 10:35] domesticmouse commented on #457
I'm happy to revert.

[2018-07-03 13:18] shsachin commented on #458
plus_code looks like to be new feature roll out. And the roll out is happening slowly across different countries for a range of access methods. I can see plus_code from my Android phone Google maps app. Can not see in GeoCoding API.

Following places api call shows plus_code though :
https://maps.googleapis.com/maps/api/place/details/json?placeid=ChIJm7fqbLur_TARjh8n9AP8TZs&key=<yourkey>

[2018-07-03 13:52] apjanke commented on #458
Here's a PR: #459.

[2018-07-03 17:02] proft commented on #418
Thanks for fix.
How I can import it to my project? There is 0.2.8 version in maven but it doesn't have profilePhotoUrl field.

[2018-07-03 17:08] proft commented on #418
I managed it ;)

[code]

[2018-07-03 17:08] #418 closed

[2018-07-03 23:06] #430 closed

[2018-07-03 23:19] #457 closed

[2018-07-05 02:10] apjanke commented on #457
Thanks!

[2018-07-05 04:57] #458 closed

[2018-07-05 13:57] #450 closed

[2018-07-05 13:58] apjanke commented on #450
Cool, thanks!

[2018-07-05 14:10] shsachin opened #462 "WARN: Unknown type for 'continent'"
18/07/03 06:09:30 WARN internal.SafeEnumAdapter: Unknown type for enum com.google.maps.model.AddressComponentType: 'continent'
18/07/03 06:09:30 WARN internal.SafeEnumAdapter: Unknown type for enum com.google.maps.model.AddressType: 'continent'

[2018-07-05 14:38] apjanke commented on #462
Here you go: #463

[2018-07-05 16:54] apjanke commented on #93
How about this: We currently have String and LatLng waypoint variants in DirectionsApiRequest.

[code]

We could add a Waypoint class, and a `public DirectionsApiRequest waypoints(Waypoint... waypoints)` method. The Waypoint class could have a `boolean isStopover` flag that defaults to false, and constructors:

[code]

The DirectionsApiRequest's internal `waypoints` field could either be converted

[2018-07-06 05:28] domesticmouse commented on #426
This is included in Version 0.2.9, which is rolling out now.

[2018-07-06 05:28] #426 closed

[2018-07-06 05:28] domesticmouse commented on #425
This is included in Version 0.2.9, which is rolling out now.

[2018-07-06 05:28] #425 closed

[2018-07-06 05:31] domesticmouse commented on #261
I'm going to close this on the basis of @apjanke's thread eviction addition in #455. If this is insufficient, please comment to re-open and we will look what else we can do to deal with the issue.

#455 is included in Version 0.2.9, which is rolling out now.

[2018-07-06 05:33] domesticmouse commented on #93
I like your proposal @apjanke. Feel free to put together a PR for your preferred approach if you have time, otherwise I'll loop back and implement when I get a spare moment. Thanks!

[2018-07-07 06:56] apjanke opened #467 "Javadoc version warning when building"
When I do `gradlew build` now, I get a warning about Javadoc versions.

[code]

This is on macOS 10.13.5 , and I think it's running `javadoc` from JDK 10.

[code]

Sounds like we should add an explicit version switch, as long as that switch is recognized by Java 1.7 as well.

[2018-07-07 07:04] apjanke commented on #93
Here's a PR: #468. I made Waypoint a nested class in DirectionsApiRequest, since that seems consistent with the existing design.

[2018-07-07 07:47] apjanke commented on #138
Hi @Grcko,

Use objects of type `com.google.maps.model.PlaceAutocompleteType` as arguments to `types(PlaceAutocompleteType types)` on your PlaceAutocompleteRequest. It supports `geocode`, `address`, `establishment`, and so on.

This was [introduced on Mar 9, 2016](https://github.com/googlemaps/google-maps-services-java/commit/cc5f53402b4a5ded9e5f4248253a6e5bd4ebdf9b), so you wouldn't have seen it

[2018-07-07 08:00] apjanke commented on #280
This almost sounds like a bug in the API, if it sometimes returns zero-results responses and you can't tell if that's an intermittent error or a legitimate "zero results found for this query" response.

FWIW, I am unable to reproduce a "zero results" response when repeatedly querying for various locations, including for "new york new york hotel casino 3790 las vegas boulevard south las vegas nv 89

[2018-07-07 08:11] apjanke commented on #435
I agree. Here's a PR that replaces it with a usage-neutral `baseUrlOverride(...)` method: #471.

[2018-07-07 08:16] apjanke commented on #467
Darnit.

For newer JDK versions, you could just [include  the `-html4` or `-html5` option](https://stackoverflow.com/questions/50222047/enable-html5-javadoc-in-gradle).

[code]

But that fails with JDK 1.7, because it doesn't support those options yet.

[code]

Need more smarts in gradle to detect the version and set javadoc options appropriately. Maybe they already exist and somebody knows how to

[2018-07-07 08:30] apjanke commented on #467
Goole console... please

I'm sorry; I don't understand what you're talking about here. Are you using Google cloud services of some sort?

[2018-07-07 09:01] apjanke commented on #467
Looks like there's a relevant upstream Gradle issue: https://github.com/gradle/gradle/issues/4841

[2018-07-07 09:24] apjanke opened #473 "Gradle complains about deprecated features: annotation processor path"
When I run the build, it complains about deprecated Gradle features being used, making it incompatible with Gradle 5.

[code]

Full warnings:

[code]

[2018-07-07 10:53] apjanke commented on #473
Relevant pages:
* https://discuss.gradle.org/t/regarding-the-annotation-processors-on-compile-classpath-warning-in-gradle-4-6/26144/13
* https://deors.wordpress.com/2011/10/08/annotation-processors/
* https://docs.oracle.com/javase/7/docs/technotes/tools/solaris/javac.html
* https://blog.gradle.org/incremental-compiler-avoidance

[2018-07-07 10:59] apjanke commented on #473
BTW, can we agree in principle that a 100% warning-free build is a goal of this project?

[2018-07-07 12:09] apjanke commented on #467
Turns out that issue isn't relevant. I've opened a new upstream issue.

Upstream issue: https://github.com/gradle/gradle/issues/5891

[2018-07-09 04:12] #467 closed

[2018-07-09 04:21] #93 closed

[2018-07-09 05:01] domesticmouse commented on #138
Thanks @apjanke!

[2018-07-09 05:01] #138 closed

[2018-07-09 05:19] domesticmouse commented on #473
I'm very supportive of having a 100% warning free build. I'll find out the appropriate upstream maintainer.

[2018-07-09 05:46] apjanke commented on #280
That makes sense; I understand there are system reasons why no results an be returned sometimes. But I'd expect the API to differentiate those, with maybe a flag to distinguish something like "I couldn't find any results within my best-effort usage-limit quota" from "I did a full search within my usage-limit quota and can positively say there are no results". Or do I not understand the system limi

[2018-07-09 05:51] domesticmouse commented on #280
When you are operating in a distributed system consisting of 10,000 machines or more, the [split brain problem](https://en.wikipedia.org/wiki/Split-brain_(computing)) means that you cannot differentiate between the two cases you are thinking of. It turns out "I asked all of my back end services for results based on your query, and heard nothing back" means the same in both cases.

[2018-07-09 06:15] apjanke commented on #280
Okay, gotcha.

In that case, maybe we _should_ supply a specific `retryOnZeroResults` option, next to the `exceptionsAllowedToRetry` option, that has the API retry on zero-results responses, in addition to exceptions. That would save the user the pain of having to write their own retry logic. And it doesn't seem like this should be handled by throwing an exception, because it's not necessarily an

[2018-07-09 06:18] domesticmouse commented on #280
If we are going to retry on zero results, we need to do two things. Firstly, we need to delay by an appreciable amount of time to allow transient faults to rectify, and we need to retry a limited number of times to prevent infinite retries. I think we have logic in place in the retry code to handle the latter, but not the former case.

[2018-07-09 06:52] apjanke commented on #280
Hmm. How about start with, say, 15 seconds, and do a binary exponential backoff?

[2018-07-10 00:55] domesticmouse commented on #280
Sounds good to me. Thanks!

[2018-07-11 10:05] russellhoff opened #477 "Including intermediate stops in transit_mode bus"
We have realised that when requesting directions fusing transit mode bus from point A to point B, the answer does not include intermediate stops' information, but only it does include the number of them.

For instance, when you request directions from Bilbao to Galdacano, you get the number of stops of a route/leg, but not which of them they are. However, if you do the same task in Google Maps, yo

[2018-07-11 14:04] shsachin commented on #280
User is already provided with retryOnZeroResults option. This can be done while creating context GeoApiContext.Builder().
`builder.setIfExceptionIsAllowedToRetry(ZeroResultsException.class, true);`

But this won't work as we are not throwing exception on ZERO_RESULTS.

I think, we should let user/developer decide how to treat ZERO_RESULTS in their downstream application. I personally wanted to log

[2018-07-12 00:50] MithilShah opened #478 "Creating SessionToken from existing string"
The PlacesApi.placeAutocomplete() method takes in a SessionToken. There is no way to create a SessionToken from an existing token. The class SessionToken only allows creating new tokens, but for the second request in the same autocomplete session, we need to send the sessionToken created during the first call. Can we modify the SessionToken inner class to add a constructor that takes in an existin

[2018-07-13 02:46] domesticmouse commented on #477
There are two points of potential deviation between what you see when you look into Google Maps on iOS, Android, or the web, and at the results returned via the Java client library.

The first deviation is between the results available inside Google that the Google Maps front ends rely on, and what is exposed by our Google Maps Web Service endpoints. The second point of deviation is between the in

[2018-07-13 02:52] domesticmouse commented on #280
More than happy to accept PRs that look at ways to fix this without breaking the API too much for existing users.

[2018-07-17 04:57] MithilShah opened #479 "adr_address is missing from PlaceDetails"
The PlaceDetails class is missing adr_address field.

[2018-07-17 05:02] MithilShah commented on #479
Can I open a PR to add the missing field and for the previous ticket concerning sessionToken?

[2018-07-17 05:34] MithilShah commented on #478
That would be perfect.

[2018-07-17 18:48] domesticmouse commented on #280
For context, @micolous knows an awful lot more than I do about how the backends serving these queries are engineered. As such, I'm taking his advice on not re-trying on ZERO_RESULTS as final.

[2018-07-17 18:48] #280 closed

[2018-07-17 21:07] #479 closed

[2018-07-17 21:10] domesticmouse commented on #479
Just for clarity, always happy to review pull requests 😇

[2018-07-18 05:01] MithilShah commented on #479
Just wanted to know when the next release is planned. It would be good to see this change on maven central.

[2018-07-18 17:03] domesticmouse commented on #479
There is an internal change I was waiting on before releasing. I'm expecting it to drop in the next couple of weeks.

[2018-07-18 23:39] MithilShah commented on #479
ok ,thanks.

[2018-07-19 01:17] apjanke commented on #383
Looks like they're not tracking locations in this area yet. Oh well. :)

<img width="968" alt="screen shot 2018-07-18 at 9 16 34 pm" src="https://user-images.githubusercontent.com/2618447/42915780-f172cee2-8acf-11e8-9e6f-651d7b0c43b4.png">

[2018-07-19 01:45] domesticmouse commented on #383
Did you raise an Issue tracker bug? If yes, I can bounce it past the API team and see who I need to hassle. =)

[2018-07-19 01:51] apjanke commented on #383
No, the issue tracker template said they didn't want to hear it. :)

please go to http://maps.google.com and enter your query there, and then
select to "report an issue" to ensure it gets routed appropriately.  Do not
file the issue here.

[2018-07-24 16:23] domesticmouse commented on #383
I've done some digging, and yes 0,0 is locked down due to the Null Island problem. Thanks!

[2018-07-31 02:10] #435 closed

[2018-08-01 02:03] domesticmouse commented on #477
Closing as stale for the time being. Please re-open with additional information. Thanks!

[2018-08-01 02:03] #477 closed

[2018-08-05 04:06] sanpra12 opened #487 "Getting Error during creating Google Geocoding API to get the latitude and longitude"
Code 👎

API_key =AIzaSyDk74ccnNbjpJz6oN3l3FE4GvlpqoT3D8Q
# construct URL to make API call
url = 'https://maps.googleapis.com/maps/api/geocode/json?key={}&address={}'.format(AIzaSyALPnnLDN-ubj-gsC2oaz4DJlWKjEhPfx8, 'M5G')

response = requests.get(url).json() # get response
geographical_data = response['results'][0]['geometry']['location'] # get geographical coordinates
latitude = geographical_data[

[2018-08-05 11:47] domesticmouse commented on #487
Correct me if I’m wrong, but that doesn’t look like you are using this client library. Also, you’ll need to replace that API key if it wasn’t restricted to an IP address.

[2018-08-07 06:25] sanpra12 commented on #487
Thanks  Brett ,Can  u help the Name of client library  which I should use,

[2018-08-07 06:27] domesticmouse commented on #487
How about the java client library that you are posting on the issue tracker of?

https://github.com/googlemaps/google-maps-services-java

=)

[2018-08-07 06:27] #487 closed

[2018-08-07 06:29] domesticmouse commented on #487
Alternatively, if you are programming in Python, try our Python client library

https://github.com/googlemaps/google-maps-services-python

[2018-08-08 18:01] becerriljc opened #488 "Render directions in google maps from DirectionsAPI"
I need help, im using DirectionsAPI, i send request and response (DirectionsResult) is successful but at insert in

`directionsDisplay.setDirectionsResponse(response)`
output this error:
not a LatLngBounds or LatLngBoundsLiteral: unknown property northeast

any idea?

[2018-08-09 08:33] domesticmouse commented on #488
It’d need a full repro case. I can’t debug from just this error message. I’m not sure how you’d get that message while using the java client library.

[2018-08-14 11:13] domesticmouse commented on #270
@xpoback please report this to https://developers.google.com/maps/support/#issue_tracker

This issue tracker is just for the java client library, not the API itself.

[2018-08-15 06:54] #488 closed

[2018-08-15 06:54] domesticmouse commented on #478
Released with version 0.2.10.

[2018-08-15 06:54] #478 closed

[2018-08-15 06:55] domesticmouse commented on #473
Upstream maintainers of the AppEngine jar are currently figuring out how to appropriately update the code without breaking everything.

[2018-08-27 14:36] randysecrist opened #491 "Geocoding Address"
Could someone please specify what type of String GeocodingApi.geocode takes for Address?

Our search granularity is City, State, PostalCode.  Currently we a bunch of parameters through the function below then pass that result to the geocode function.  The google client library returns a geocode result for most of our customers however there are a few City,State,PostalCode combinations which don't

[2018-08-28 01:17] domesticmouse commented on #491
This API is a thin wrapper atop the API, designed to reflect the results returned by the API in a language idiomatic way. We do a bit of sanity checking on inputs, but very little in the way of transformations. If there is something that is exposed in the API that isn't in the client library, please raise a bug request, or better yet, issue a Pull Request with a fix.

Thanks!

[2018-08-28 01:17] #491 closed

[2018-08-30 02:53] Meyy-DL opened #492 "Unlike Autocomplete call, placeDetails call in PlacesApi is not supporting SessionToken"
SessionToken is not supported for placeDetails call. Any plans of supporting it?
The reason being Autocomplete call often goes hand in hand with place details call.

[2018-08-30 19:34] Meyy-DL commented on #492
@domesticmouse I understand PlaceDetailsRequest supports it but not PlacesApi. Ref: https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/PlacesApi.java#L103-L107

It makes PlacesApi.placeDetails() kinda unusable when comes to SessionToken

[2018-08-30 23:39] domesticmouse commented on #492
How's #493 look like as a potential fix?

[2018-08-31 01:04] Meyy-DL commented on #492
@domesticmouse yup. looks good to me

[2018-08-31 03:42] domesticmouse commented on #492
I'm rolling a new release that includes this fix. Thanks!

[2018-08-31 03:42] #492 closed

[2018-08-31 21:39] Meyy-DL commented on #492
@domesticmouse I got one more question. Not sure whether I have to create one more issue but would like to your thoughts first.
Is there any reason why SessionToken is not Serializable ?

[2018-08-31 21:56] domesticmouse commented on #492
I can’t think of a good reason to make it not serialisable. Wanna submit a
PR?
On Sat, 1 Sep 2018 at 7:39 am, Meyy-DL <notifications@github.com> wrote:

[2018-08-31 23:09] Meyy-DL commented on #492
@domesticmouse Yes. Its in https://github.com/googlemaps/google-maps-services-java/pull/495

[2018-09-06 06:35] ejChathuranga opened #496 "how to create a server key?"
To use maps service we need to create server key : [mention here at 4th from list](https://github.com/googlemaps/google-maps-services-java#api-keys)

Most of the reference is saying, when we creating API in GCP console it's asking the type of the API. But now it won't ask in the console. It just creates an API key quickly.

I need guidence for creating new server key.

[2018-09-10 17:52] albertjose opened #497 "How to use sessionToken from JSApi in getPlaceDetails"
We have a mix using autocomplete in JS with get details on server, but now google change your costs to session-based, is there any way to reuse the token from autocompleteWidget in the request to get place details?

[2018-09-12 05:42] domesticmouse commented on #497
I'd put a request up on the [Google Maps JS API Issue Tracker](https://developers.google.com/maps/documentation/javascript/support#issue-tracker) asking for access to the autocomplete widget's session identifier. Once you have that you can construct a session in this client library to match.

[2018-09-12 05:42] #497 closed

[2018-09-12 07:42] AlexandraHofmann opened #498 "PolyUtil"
PolyUtil functionality from javascript and android project would be great to be integrated, especially I am in need of a isLocationOnPath() function. Or is there any other way to achieve this?

[2018-09-12 07:57] #498 closed

[2018-09-13 03:13] jasonleelover opened #499 "java.net.ConnectException: Failed to connect to maps.googleapis.com/172.217.160.74:443"
I am using ShadowsocksR for proxying in China, and intellij's http proxy test is successful for accessing maps.googleapis.com, but I made an error when doing unit testing, what should I do?

_maven_

`
<dependency>
            <groupId>com.google.maps</groupId>
            <artifactId>google-maps-services</artifactId>
            <version>0.2.11</version>
</dependency>
<dependency>
            <gr

[2018-09-14 03:05] domesticmouse commented on #422
@KiriyaKeat Just checking in on how you are situated for a bump to minimum of 1.8 next month?

[2018-09-14 03:16] KiriyaKeat commented on #422
Hi Brett,

Thanks for checking.
We are all good to upgrade.

Kiriya

On Fri., 14 Sep. 2018, 1:05 pm Brett Morgan, <notifications@github.com>
wrote:

[2018-09-24 00:29] davisoqt opened #500 "Error with Proguard"
After use the lib and enabled Proguard im getting these error

Warning: com.google.maps.GaeRequestHandler: can't find referenced class com.google.appengine.api.urlfetch.URLFetchServiceFactory
Warning: com.google.maps.GaeRequestHandler: can't find referenced class com.google.appengine.api.urlfetch.FetchOptions$Builder
Warning: com.google.maps.GaeRequestHandler: can't find referenced class com.googl

[2018-09-24 01:14] domesticmouse commented on #500
My suggestion is not to use this library in an Android app, as you risk losing your API Key to an attacker.

[2018-09-24 01:14] #500 closed

[2018-09-24 01:15] domesticmouse commented on #499
I'm unsure how to debug this issue, as I'm guessing it's a networking issue. Can you test if the java application is using your network proxy?

[2018-09-24 01:16] domesticmouse commented on #496
You can edit the key in the console to add server restrictions.

[2018-09-24 01:16] #496 closed

[2018-09-24 01:18] domesticmouse commented on #420
I've just landed https://github.com/googlemaps/google-maps-services-java/pull/421
I'll push this out in a new release shortly

[2018-09-24 01:18] #420 closed

[2018-09-25 05:50] #499 closed

[2018-10-03 12:45] alexd555 opened #504 "navigation"
Hi,
I'm looking for source code example of waze or someting other program where I can navigate and filter my choices.
Can you help ?

[2018-10-03 16:19] domesticmouse commented on #504
It looks like waze has an api: https://developers.google.com/waze/

Fair warning, I know nothing about the waze product and api offerings.

Here’s the documentation for Directions API, which gives you routes between two locations: https://developers.google.com/maps/documentation/directions/intro

[2018-10-03 16:19] #504 closed

[2018-10-04 18:54] shirley-salesforce opened #505 "When should I expect to see NotFoundException and ZeroResultsException?"
My use case is when geocode addresses causing NotFoundException or ZeroResultsException, we would like to mark those addresses for validation.

But in the following sample code, GeocodingApi won't throw exceptions for address "1234 street someplace", instead the GeocodingResult is empty. My question is should I expect NotFoundException and ZeroResultsException here? otherwise how do I know what ca

[2018-10-05 04:36] feinstein commented on #500
How's this library security different from other Google Maps APIs for Android?

[2018-10-05 20:08] domesticmouse commented on #500
Simplest answer is this library is designed for server side usage, not Android.

[2018-10-05 20:13] feinstein commented on #500
It's about time you guys make a Rx version, so we can make this whole Network Request, error handling, cancellation and retry easier and reactive.

I am not going to open an issue about it because I think this should be done for all the code bases and not just this one.

[2018-10-10 01:01] domesticmouse commented on #505
The ZeroResultsException is thrown when the result from the API contains the error "ZERO_RESULTS". Have a look at the mapping code in `ApiException.java`.

[2018-10-10 03:27] #505 closed

[2018-10-19 00:11] domesticmouse commented on #422
Thanks for the update @KiriyaKeat, we've uplifted to Java 1.8 minimum now.

[2018-10-21 19:40] IvanRF commented on #233
@domesticmouse first of all, thank you very much for adding Static Maps API to the library! 👍

I just replaced my own implementation and started using the library for Static Maps API calls too. So far everything seems to work fine.

The only thing that I was using and it was not implemented here is `Encoded polyline` as a valid value for `path`.

From https://developers.google.com/maps/documentati

[2018-10-29 09:11] viswakumar commented on #87
Ahh, I thought we found all of these! I'd love it if you could send a PR through.

Thanks

[2018-10-29 21:52] nathan-poquette opened #508 "Missing support for fields param on place details requests"
The Places API describes a `fields` parameter that can be passed to indicate which place data types will be returned on a Place Details request. It recommends to include this, as omitting it will default to ALL fields being returned and warns that "you will be billed accordingly". https://developers.google.com/places/web-service/details#fields

I've curious if there is support, either currently or

[2018-10-29 22:48] domesticmouse commented on #508
I thought I had implemented fields support. Please raise bugs on the API calls that aren't exposing fields setters that should do so. Thanks!

[2018-10-30 01:15] nathan-poquette commented on #508
You're right, my bad. I thought I was looking at the latest version but I wasn't. I see it here: https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/PlaceDetailsRequest.java#L80

[2018-10-30 01:15] #508 closed

[2018-10-30 13:17] chnaveen138 opened #509 "Caused by: java.lang.ClassNotFoundException: Didn't find class "java.time.LocalDateTime""
Found that java.time package is only available for API >= 26.
So please tell me how to handle this error for API < 26

**I am getting this error while fetching directions:**
//////////////////////////////////////////////////////////////////////
[code]
///////////////////////////////////////////////////////////

**My Code:**

[code]

[2018-10-31 04:32] apjanke commented on #509
When you say "API >= 26", are you talking about the Android API level?

[2018-10-31 04:39] chnaveen138 commented on #509
Yes! It's about Android API Level.  When I am trying in Emulator whose API Level is 27 it's working fine... But in emulator whose API Level is 24, it gives me that error.

[2018-10-31 04:40] chnaveen138 commented on #509
Yes! It's about Android API Level. When I am trying in Emulator whose API Level is 27 it's working fine... But in emulator whose API Level is 24, it gives me that error.

[2018-10-31 04:40] chnaveen138 commented on #509
Yes! It's about Android API Level. When I am trying in Emulator whose API Level is 27 it's working fine... But in emulator whose API Level is 24, it gives me that error.

[2018-10-31 04:47] chnaveen138 commented on #509
It made me to rollback to 0.2.11 and it's working fine...

[2018-10-31 04:53] apjanke commented on #233
Yeah, that seems a little verbose and inconvenient.

There's a direct relationship between an `EncodedPolyline` and a `StaticMapsRequest.Path`, even though `EncodedPolyline` seems like a somewhat lower-level object to me. And it does map directly to an API calling form.

Perhaps a convenience constructor or factory method is in order? Something like one of the following:

[code]

Option 4 is my fa

[2018-10-31 15:38] jeMarques opened #510 "[Android] This IP, site or mobile application is not authorized to use this API key. Request received from IP address XXX, with empty referer"
I'm Trying to use Geocoding api into my Android app to do Reverse geocode in order to get an Adress from a LatLon.

Keep failing with error: This IP, site or mobile application is not authorized to use this API key. Request received from IP address XXX, with empty referer

API Key are created. And the Geocoding API is ON and Attached to API Key.

Have read in some forums that i need to create an p

[2018-10-31 21:29] domesticmouse commented on #509
Please don't use this client library on Android. It opens you up to third parties stealing your API Key.

[2018-10-31 21:29] #509 closed

[2018-10-31 21:32] domesticmouse commented on #233
I like option 4, as it allows the library to pick the shortest encoding at run time. Happy to accept a PR. ;-)

[2018-10-31 21:33] domesticmouse commented on #510
Please do not use this library on Android, as it opens you up to the risk of a third party stealing your API key and abusing your account. Implementing a server side proxy gives you the ability to monitor and manage you API usage.

[2018-10-31 21:33] #510 closed

[2018-11-04 11:30] apjanke commented on #233
Here's a PR for option 4: https://github.com/googlemaps/google-maps-services-java/pull/511  :)

[2018-11-05 04:53] #233 closed

[2018-11-07 19:49] stkent commented on #510
@domesticmouse:

I've seen this sentiment echoed in several places, but I'm struggling to see how the risk of exposure you describe is any different from e.g. the risk of exposure of a Google Cloud Platform key added to an Android manifest as recommended in the official Google Places Android SDK setup instructions: https://developers.google.com/places/android-sdk/signup#use-key

<img width="858" a

[2018-11-07 20:22] stkent commented on #510
After further investigation, maybe this part is not accurate?

My key gets rejected if I enable those restrictions but works from an Android app fine otherwise.

[2018-11-09 18:18] apjanke opened #512 "Error Prone warnings"
I ran the google-maps-service-java codebase through Google's [Error Prone](http://errorprone.info/) static analyzer, and it flagged several code hygiene issues. Mostly missing `@Override`s, some obsolete classes, over-precise literals, and a couple missing `final`s.

Are you interested in fixes for these?

And would you be interested in running Error Prone by default during the build?

[2018-11-11 20:37] domesticmouse commented on #512
Yes and yes =)

[2018-11-12 06:40] apjanke commented on #512
Here's a PR with fixes for all the warnings that Error Prone currently raises: #513.

I'm working on getting it to run automatically under Gradle for the build. (I'm currently just running it with IntelliJ's Error Prone plugin.)

[2018-11-13 03:07] stkent commented on #510
Thanks @domesticmouse :) I recently discovered a [Google Groups discussion](https://groups.google.com/d/msg/google-cloud-endpoints/I-u3sAUU3Ts/AjdAsWkjAwAJ) that seems to demonstrate how to use an Android-restricted API key with e.g. the Geocoding API endpoints. A small implementation of the above that I put together outside the context of this library seem to be working ok, so I wonder if this is

[2018-11-22 16:09] AndreSchulzBerlin opened #514 "why DirectionsLeg is using LocalDateTime instead of ZonedDateTime?"
The time zone is lost during converstion from JSON to POJO.
For instance

						"text": "06:02",
						"time_zone": "America/New_York",
						"value": 1542884540
					}

will be converted to
`LocalDateTime(chronology: IsoChronology(calendarType: iso8601, id: ISO), dayOfMonth: 22, dayOfWeek: THURSDAY, dayOfYear: 326, hour: 6, minute: 2, month: NOVEMBER, monthValue: 11, nano: 0, second: 20, year: 20

[2018-11-22 21:38] domesticmouse commented on #514
I'm happy to take a PR that keeps the timezone information.

[2018-11-22 22:33] apjanke commented on #514
Minor uh-oh: This would involve a possibly breaking public API change, since `ZonedDateTime` is not a subtype of the current `LocalDateTime`; they're alternative subtypes of `Temporal`, so it would be an incompatible change to the publicly-visible structure of the public class `DirectionsLeg`.

I think I agree with @AndreSchulzBerlin's analysis that the time zone info is being lost and this should

[2018-11-22 22:34] apjanke commented on #514
(Also, it probably shouldn't use `GregorianCalendar` in the API regardless; that's one of the old obsolete `java.util` time classes.)

[2018-11-23 05:48] domesticmouse commented on #514
Yes, it's a breaking change. On the up side this is a pre 1.0 library and I'd prefer the API be correct before I lock it down.

So let's rip the band aid off now rather than later, eh? =)

[2018-11-23 18:44] apjanke commented on #514
Agreed.

[2018-11-24 07:09] apjanke commented on #514
Here's a PR: https://github.com/googlemaps/google-maps-services-java/pull/516

This affects `TransitDetails` in addition to `DirectionsLeg`.

[2018-11-24 07:15] apjanke commented on #514
PR is merged. This should be fixed now, @AndreSchulzBerlin.

[2018-11-24 07:48] domesticmouse opened #518 "Openjdk7 is unhappy"
https://travis-ci.org/googlemaps/google-maps-services-java/jobs/459053975

Looks like we aren’t happy on OpenJDK 7.

Is this something we should worry about, or should we mark 8 as minimum supported version?

[2018-11-24 22:16] apjanke commented on #518
Since Java 1.8 is now the minimum supported version for google-maps-services-java (with the switch to using `java.time`), I don't see a reason to be concerned with older JDKs.

[2018-11-28 11:08] zhangchunxing opened #519 "The result returned by the client is not in the correct language"
- **my request** :
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=XXXXX&location=34.9962228,135.7183618&language=jp&keyword=京都光華女子大学&radius=50000

- **question**:
I specified that the argument "language" was "jp"，but the name of result  returned was english.
Why?

[2018-11-28 21:01] domesticmouse commented on #519
Please raise this issue on the API Issue tracker: https://developers.google.com/maps/support/#issue_tracker

This issue tracker is for the Java client library itself. Thanks!

[2018-11-28 21:01] #519 closed

[2018-11-28 22:56] domesticmouse commented on #473
I'm wondering if we can drop the Google App Engine library, as by my reading of the [Java on Google App Engine](https://cloud.google.com/appengine/docs/java/) documentation, both our Standard and Flexible offerings have full Java 8, no whitelist restrictions.

I'll take an action item to spin up a version without GAE libraries and see if it works on both of the supported platforms.

[2018-11-29 21:15] feinstein opened #520 "Implementation of Rate Limiting for Serverless"
Nowadays many webservers are going serverless, like AWS Lambda and Google Cloud Functions. AFAIK the `GeoApiContext` Singleton isn't doable in a Serverless architecture.

Are there any changes of implementing a rate limiting algorithm into the library that's compatible with Serverless Architectures?

[2018-12-01 06:53] barrychapman commented on #261
This is still an issue, we get it in a few applications and causes Tomcat to crash

[2018-12-01 06:56] domesticmouse commented on #261
@barrychapman which version of the library are you using?

[2018-12-05 23:41] vivekvinodh opened #521 "compile vs implementation?"
The compile command has been deprecated in favor of api and implementation. Should this be reflected in this README?

[2018-12-06 02:58] domesticmouse commented on #521
Yup!

Happily accepting pull requests =)

[2018-12-06 02:59] domesticmouse commented on #520
I'll happily review Pull Requests that sketch out a rate limiting architecture that works with Serverless Architectures.

[2018-12-06 03:13] domesticmouse commented on #520
There are a bunch of techniques available, including running a pool of `n` servers that each are responsible for `1/n` th of the rate limit. I'm guessing that most implementations using this library will not be CPU bound, but instead network I/O bound, and thus centralising the rate limiting should be workable for a reasonable percentage of teams.

[2018-12-06 03:22] feinstein commented on #520
Running `n` servers or `1` server still AFICS, have the same problem: keeping track of the current rate.

AWS Lambda will destroy a servless container after some time, so the current rate information will be lost, unless it's saved elsewhere, impacting the performance with more I/O bound work.

Leaving the information on memory can lead to some minimal disturbances from time to time, when the cont

[2018-12-06 03:34] feinstein commented on #520
Interesting, this got me thinking on JWT and blockchains, which probably means I should get to sleep... I will revisit this tomorrow, thanks Brett!

[2018-12-06 03:37] domesticmouse commented on #520
All good, sleep well!

[2018-12-13 04:34] feinstein opened #524 "DirectionApi could have a shortcut for departure_time = "now""
Even though `departure_time` defaults to `now` if not specified, the `duration_in_traffic` response will only be returned if we make sure to specify the `departure_time` in the request.

Currently the library only provides `DirectionsApiRequest departureTime(Instant time)`, which could be tricky to pass the current time, since the Directions API won't accept past values and the network latency cou

[2018-12-13 04:45] domesticmouse commented on #524
Have you tried what the API returns when you pass `departure_time=now` to the Directions API? Another option is to request a `departure_time` 1 minute into the future, for example.

[2018-12-13 04:52] feinstein commented on #524
I didn't try the library yet, but I tried with an https request and with `departure_time=now` I get `duration_in_traffic` (as stated in the docs), but without `departure_time=now`, I don't get it. I am also not defining `driving` since it defaults to `driving` when omitted.

Yeah, I thought about setting it to 1 minute in the future, it just made sense to me to expose `departure_time=now` in the l

[2018-12-13 05:06] domesticmouse commented on #524
If it works against the servers, I'm happy to add it to the client library. You were saying you are willing to put this together as a PR? =)

[2018-12-13 05:09] feinstein commented on #524
Gladly, but I am not familiar enough with the tests to include this change there, do you think it needs to be incorporated into the tests as well? Looks kinda trivial to me...

[2018-12-13 05:10] domesticmouse commented on #524
I can add tests for this. =)

[2018-12-13 05:30] #524 closed

[2018-12-19 12:50] pushbit opened #531 "Include package-list file in Javadoc"
Please include the `package-list` file when publishing Javadocs so that we can link to it when generating our own Javadocs.  For example, I would expect to find it at the below URL, but a 404 is returned.

https://googlemaps.github.io/google-maps-services-java/latest/javadoc/package-list

[2018-12-22 20:38] antonianemi opened #532 "Problems running the tests."
I just downloaded the project but i have some issues running the tests, the error message i have is this.

Process finished with exit code 1
Class not found: "com.google.maps.PlacesApiTest"

i resolved all the dependencies but i am still having this issue, thanks.

[2018-12-23 11:06] ptahchiev opened #533 "Replace gson with standard JSR libraries"
Is there any particular reason why you use gson? I'm trying to create an application where the customer can inject a json implementation library at runtime of their own choice and currently it is not possible because google-maps-services brings gson as a transitive dependency.

[2018-12-26 02:15] apjanke commented on #533
Are you referring to [JSR-353](https://jcp.org/en/jsr/detail?id=353)? Or [JSR-374](https://javaee.github.io/jsonp/)? Or [JSR-367](https://jcp.org/en/jsr/detail?id=367)?

I did some Googling and I get the impression these aren't very popular standards. GSON and Jackson don't implement them natively. It looks like Eclipse Yasson and Apache Johnzon are the only major implementations right now.

GSON'

[2018-12-26 02:42] apjanke commented on #532
Can you give us some more information about your development environment and the exact commands you're running to execute the tests?

[2018-12-26 03:09] domesticmouse commented on #533
I’m happy to review PRs looking at making this change, but I doubt it will be a fun job.

[2018-12-26 08:21] mdelmoral opened #534 "Support for region parameter in Text Search request on Places API"
Reading the [documentation](https://developers.google.com/places/web-service/search#TextSearchRequests) there is an optional parameter `region` for the request

`https://maps.googleapis.com/maps/api/place/textsearch/output?parameters`

and it is impossible to set this parameter using the Places API because is not supported.

[2018-12-26 09:41] domesticmouse commented on #534
We gratefully accept Pull Requests =)

[2018-12-27 13:38] domesticmouse commented on #533
I'd need to see a downside that is stronger than the number of dependencies to motivate me to do the porting work required to move from GSON to a new pluggable JSON provider interface. I'll happily review PRs that implement this change, but I won't be instigating the work myself.

It has taken a number of years of work to get this library to its current relatively stable state, and I'm about ready

[2018-12-30 03:37] antonianemi commented on #532
Well, i found the fix it was about intellij's problem, turns out that the IDE was holding two gradle's configurations one for java and another for droid so they are not compatible i had to delete the projects file generated by intellij and create it back again. Thanks a lot.

[2019-01-04 06:41] barrychapman commented on #261
Sorry for the delay.

                        <groupId>com.google.maps</groupId>
			<artifactId>google-maps-services</artifactId>
			<version>0.9.1</version>

[2019-01-04 06:44] barrychapman commented on #261
Some of the errors in `catalina.out`

	04-Jan-2019 06:30:17.889 WARNING [http-apr-8080-exec-2] org.apache.catalina.loader.WebappClassLoaderBase.clearReferencesThreads The web application [shuttle] appears to have started a thread named [RateLimitExecutorDelayThread] but has failed to stop it. This is very likely to create a memory leak. Stack trace of thread:
	 sun.misc.Unsafe.park(Native Method)

[2019-01-07 02:50] #532 closed

[2019-01-07 03:13] FDU-SE-LAB opened #535 "Your project googlemaps/google-maps-services-java is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 03:37] apjanke commented on #535
@FDU-SE-LAB Would you mind providing contact info (i.e. an email and a website) on your GitHub profile?

I think you might be over-selling your results here. None of these bugs look "major" or "critical" to me. Still, probably worth upgrading to avoid them. Apache's internal labeling of these as "major" in their Jira might not correspond to their impact on client projects.

HttpClient is still at

[2019-01-07 03:47] domesticmouse commented on #535
I'm curious which version this analysis was run against. Near as I can tell the current release, version 0.9.1, which has been in circulation for about a month, is already at the advised version of HTTP Client and Commons Lang.

See https://github.com/googlemaps/google-maps-services-java/blob/f8af5c7ece68ff7805630b67a8bd84d43eec63b7/build.gradle

[2019-01-07 03:48] domesticmouse commented on #535
Oh wait, I misread your warning. I agree with @apjanke, I'm avoiding upgrading to beta versions.

[2019-01-07 06:31] domesticmouse commented on #535
Closing this issue, as we will upgrade HTTP Client when 5.0 is released.

[2019-01-07 06:31] #535 closed

[2019-01-08 05:55] apjanke commented on #534
I'll PR this.

There's also an optional `language` parameter we could add.

`region` takes a ccTLD domain code. `language` takes a language code, and there's a known (but "often" updated) [list of supported languages](https://developers.google.com/maps/faq#languagesupport). Should the `region` and `language` arguments be enums (or otherwise validated strings), or just leave them open to arbitrary

[2019-01-08 06:00] domesticmouse commented on #534
I think you will find that `language` parameter is handled in the base class. Pretty much all of the APIs take it as a parameter.

[2019-01-08 06:06] apjanke commented on #534
Right you are. I see it now.

[2019-01-08 06:47] apjanke commented on #534
Here's a PR: https://github.com/googlemaps/google-maps-services-java/pull/538

[2019-01-08 06:53] apjanke commented on #531
It seems like the `package-list` file is not being generated during the javadoc generation step of the build. (I don't see it in the `build/docs/javadoc` directory after running `./gradlew package`. Anyone know if there's an option we need to pass to the gradle `javadoc` target to enable the `package-list` file?

[2019-01-08 23:30] #534 closed, assigned to nobody

[2019-01-08 23:30] domesticmouse commented on #534
Thank you Andrew =)

[2019-01-09 04:01] apjanke commented on #534
Any time. 👍

[2019-01-10 20:53] clodbrasilino opened #539 "Add a default no-args constructor to com.google.maps.model.EncodedPolyline"
As I was using this lib for a Spring project, I faced a problem while trying to de-serialize an object from a Redis server through Spring Data Redis API. Here's the Stack Trace:

[code]
#218 seems to face a similar problem, but it looks like that a turn-around solution was found.

I can't see another solution than building this no-arg constructor. Any help?

[2019-01-10 21:12] clodbrasilino commented on #539
I just noticed that `points` field is final, so I can't just build an empty no-arg constructor for it.

What should I do? could `points` change to a non-final field?

[2019-01-14 15:06] MaikBaba commented on #261
Hey, I am also using version 0.9.1 as a Maven dependency and I am experiencing the same issue, where worker threads are not closed but blocked by the RateLimitExecutorService. I added the thread dump as an attachment from when my jvm context crashes due to no more available threads in the pool You will see that almost all threads are blocked by three processes:

`"OkHttp ConnectionPool" #1017 daem

[2019-01-14 15:44] #539 closed

[2019-01-14 22:45] domesticmouse commented on #533
Closing this out as it isn't something I'm going to do.

[2019-01-14 22:45] #533 closed

[2019-01-21 09:59] yuliuslionardi opened #544 "Crash on version 0.9.1 when calling the API"
01-21 16:57:33.720 20671-20744/com.project.android.argapro E/AndroidRuntime: FATAL EXCEPTION: DefaultDispatcher-worker-1
    Process: com.project.android.argapro, PID: 20671
    java.lang.NoClassDefFoundError: Failed resolution of: Ljava/time/ZonedDateTime;
        at com.google.maps.internal.OkHttpPendingResult.parseResponse(OkHttpPendingResult.java:241)
        at com.google.maps.internal.OkHttp

[2019-01-24 18:47] jeffreyliu8 opened #545 "App crashing running DirectionsApi.newRequest on api version lower than 26"
![screen shot 2019-01-24 at 10 44 10 am](https://user-images.githubusercontent.com/12398645/51700959-3170b880-1fc5-11e9-870f-44c8daa246b3.png)

zonedDateTime is for api 26 or above, but my app is running on something lower than that(24)
https://developer.android.com/reference/java/time/ZonedDateTime

DirectionsResult result = DirectionsApi.newRequest(context)
                                .mode(

[2019-01-30 01:15] domesticmouse commented on #544
Android is explicitly not supported by this library. Please see the disclaimer in intended usage section of the [README](https://github.com/googlemaps/google-maps-services-java/blob/master/README.md#intended-usage-of-this-library). Thanks!

[2019-01-30 01:15] #544 closed

[2019-01-30 04:52] mahesh2492 opened #546 "For all zipcode throws exception java.lang.RuntimeException: Unknown address type 'health'"
Below code works fine for all postal code but it throws an exception for every zipcodes i.e 90210

import com.google.maps.GeocodingApi
import com.google.gson.GsonBuilder

object GoogleMapApiPoc extends App {
 val context = (new GeoApiContext).setApiKey(API_KEY)
 val geoCodingApiResult  = new GeocodingApiRequest(context).components(GeocodingApi.ComponentFilter.postalCode("90210"))
println(geoCoding

[2019-02-02 10:06] apjanke commented on #546
Looks to me like you're using an older version of GMSJ. As of 0.9.2, there's no `GeocodingApi.ComponentFilter` type that I can see.

Could you try this against the latest version of the code?

[2019-02-03 13:56] mahesh2492 commented on #546
Yes, It is working fine with the latest version but when I give an incorrect postal code. It returns empty json instead of Zero_Result .

[code]

[2019-02-05 11:38] delta-bravo opened #547 "Test support for places API"
Hi!
I would like to cover our application with some black box and load tests and for obvious reasons I would like to stub out calls to Google APIs to prevent charges for requests sent during the tests.
Is there a recommended approach for this or are there any classes that could be used for testing?

I know I can extend GeoApiContext's Builder to set base url - which seems a bit hacky. Are there an

[2019-02-05 23:32] domesticmouse commented on #547
I'd suggest going with the extension approach.

[2019-02-05 23:32] #547 closed

[2019-02-05 23:33] domesticmouse commented on #546
Yes, that was an explicit change in defaults. I can't remember which version contains the change. We should probably delete the Zero result exception to force people to update their expectations.

[2019-02-05 23:34] domesticmouse commented on #531
Hmm, if anyone can figure out how to force the generation of said `package-list` file, I'm happy to accept the pull request.

[2019-02-07 19:40] apjanke commented on #531
I've got nothing. I fiddled around with it for a while and couldn't figure out how to make the `package-list` file appear.

[2019-02-08 12:50] dfive opened #548 "PlaceApi : custom "fields" is not working for me.. it is giving me all the output"
![image](https://user-images.githubusercontent.com/14358333/52479288-1f4e6700-2bce-11e9-8732-44115427da8f.png)
I am interested in fetching few details only

[2019-02-19 16:53] magesh1996 commented on #544
then how to use directions api in android?

[2019-02-19 20:25] domesticmouse commented on #544
@magesh1996 please see [the project README](https://github.com/googlemaps/google-maps-services-java#intended-usage-of-this-library) for details on preferred approach.

[2019-02-19 20:30] pushbit commented on #531
When I run `./gradlew assemble` it generates `build/docs/javadoc/package-list`, which is included in `build/libs/google-maps-services-java-0.9.2-SNAPSHOT-javadoc.jar`.  I tried to run `./gradlew package`, but I get `Task 'package' not found in root project 'google-maps-services-java'.`  I don't see any recent changes to the gradle files that could explain this.  Could our build environments be dif

[2019-03-07 10:15] jbarop commented on #547
Can you please provide an example how this extension approach does like?

- `GeoApiContext` cannnot be extended because the constructor is package private.
- `GeoApiContext.Builder.baseUrlOverride()` cannot be overridden because it is package private.
- `GeoApiContext.Builder.build()` cannot be implemented because the constructor of `GeoApiContext` is package private

[2019-03-07 10:35] delta-bravo commented on #547
@jbarop What I did I extended `GeoApiContext.Builder` class, so that I could override the `baseUrl`

[2019-03-07 10:56] jbarop commented on #547
I still don't see how I am able to provide the baseUrl because it is package private.

[2019-03-07 10:59] delta-bravo commented on #547
Kotlin code:
[code]

[2019-03-07 11:05] jbarop commented on #547
`Cannot access 'baseUrlOverride': it is invisible (private in a supertype) in 'TestGeoContextBuilder'`

[2019-03-07 11:09] delta-bravo commented on #547
@jbarop all you need to do is extend the Builder and call the method in your Builder. If Kotlin code doesn't help, here is Java:

[code]

somewhere in your code:

[code]

[2019-03-07 11:58] jbarop commented on #547
May be we have different versions of the libaray. In 0.9.2 baseUrlOverride is only accessible from classes inside the `com.google.maps` package.

[2019-03-07 12:03] delta-bravo commented on #547
@jbarop that's right- your extended class should be in this package.
[code]

[2019-03-07 12:29] jbarop commented on #547
This is very hacky and thus will not work with newer Java versions (9+) and it's module system

[2019-03-09 13:24] fg78nc opened #551 "java.lang.ClassNotFoundException: okhttp3.Authenticator not found when wrapped into OSGI bundle and deployed to OSGI environment"
Getting java.lang.ClassNotFoundException: okhttp3.Authenticator not found when wrapped into OSGI bundle and deployed to OSGI environment.

[code]

[2019-03-10 02:39] domesticmouse commented on #551
I don't know anything about the requirements for shipping dependencies for OSGI. I do, however, accept Pull Requests. =)

[2019-03-13 06:23] Muhammadwahab opened #552 "Direction Api Request call backs did not call"
Hi,I use Java Client library in android and found a unexpected issue in direction Api call backs,when user change device date and then call direction Api Neither onResult and onFailure call back function execute .I did not show any message to user and app stuck in map screen.When i kill application and open again direction Api working fine ?

[2019-03-19 08:50] jbenoit2011 commented on #206
`GeoApiContext` is perfectly usable in Spark Applications in cluster mode. Initialize it in the same class as your Spark session, usually your Main class. Then use it whenever you want. But be careful about the `qps` setting: since the context is not shared between nodes, you have to divide the max QPS allowed by the number of cores and task nodes. (e.g: you want to allow max 90QPS, you have 2 cor

[2019-03-19 14:41] jbenoit2011 opened #553 "Error when parsing some geocoding response"
While geocoding some address we found out Google Maps SDK Java throw some warnings when the geocoding response contains a place of following types:
* `archipelago`
* `museum`
* `campground`
* `rv_park`
* `museum`

Here is full log lines:
[code]
I think this issue is highly related to #433 .
This prevent us to reliably geocode our data since the results objects is empty because of this issue.
How t

[2019-03-19 21:16] domesticmouse commented on #553
Please raise a PR with the types you need and I'll roll a new release.

/cc @amuramoto for visibility

[2019-03-19 22:21] apjanke commented on #553
Here's a PR:  #554.

[2019-03-20 00:59] #553 closed

[2019-03-20 12:46] domesticmouse commented on #545
Supporting Android is not in scope for this project, per the README.

[2019-03-20 12:46] #545 closed

[2019-03-20 12:48] domesticmouse commented on #553
Version 0.9.3 is in the process of rolling out.

[2019-03-24 22:06] domesticmouse commented on #552
This library isn't designed for use in Android, per the README.

[2019-03-24 22:06] #552 closed

[2019-03-27 22:23] sihaiyang0215 opened #556 "PlaceDetailsRequest: `fields` method creates NOT_FOUND err"
This is not an SDK issue. Please remove it.
Thanks.

[2019-03-29 15:17] AmbroiseS opened #557 "HmacSHA1 doesn't implement cloneable"
Hello,

**Issue**:
When doing request to direction service : it throws

**Context**:
compileSdkVersion 28
Library version: 0.9.3
I use GeoApiContext and set entrepriseCredentials to make my request.

HmacSHA1 does implement Cloneable.
This happened after I updated to 0.9.3.

Thank you for your consideration, I am available for more details.

[2019-04-02 09:34] AmbroiseS commented on #557
I see that the library is not meant for Android because of the risks of leaking the API key.
I do not have such risks in my situation. My app is distributed internally and the devices are safe.
Did the last versions break compatibility with Android?

[2019-04-06 17:43] roozel41 opened #558 "Nearby Places Search doesnt return correct results for type FOOD"
Whenever I use PlaceType.FOOD, the results dont include the type food.

But when I use the same radius and use PlaceType.RESTAURANT, I get the right results. And the type includes Restaurant AND Food.

The results are non-food related even when I remove radius and use Rank by Distance

[2019-04-07 13:09] syslogic opened #559 "Depending on `java.time.Instant` is problematic on Android"
These two methods, which depend on `java.time.Instant`:

https://github.com/googlemaps/google-maps-services-java/blob/b56d71c89a32a40640d1eb895c4bcb3ef192f1b5/src/main/java/com/google/maps/DirectionsApiRequest.java#L172

https://github.com/googlemaps/google-maps-services-java/blob/b56d71c89a32a40640d1eb895c4bcb3ef192f1b5/src/main/java/com/google/maps/DirectionsApiRequest.java#L185

May cause in th

[2019-04-08 16:35] domesticmouse commented on #559
Per the README, Android isn’t a supported platform.

[2019-04-08 16:35] #559 closed

[2019-04-08 16:37] syslogic commented on #559
that's a rather limited way of thinking - which vastly limits possible applications.

[2019-04-08 18:10] domesticmouse commented on #559
The issue is that including an API key in an Android app opens a developer up to a denial of service attack on their credit card through API key theft.

[2019-04-08 18:13] domesticmouse commented on #559
As to Java 7 support, if you look at the release notes and other closed bugs you will see that moving to Java 8 minimum was a community decision. With that said, I'm happy with people forking the codebase and adapting it for their requirements. I'm optimising for getting developers started quickly and securely.

[2019-04-08 18:15] domesticmouse commented on #557
No idea. Happy to accept pull requests if you debug this and figure out the root cause.

[2019-04-08 19:16] syslogic commented on #559
Not really, because Maps API keys [should be restricted](https://developers.google.com/maps/api-key-best-practices#restrict_apikey) by package-name and signature fingerprint.

The current situation is that Android is supported - even if unofficially, but API `>= 26` is required to set the timestamps, while the Directions API does accept `UNIX` epoch time.

[2019-04-09 01:43] domesticmouse commented on #559
The problem is that Google Maps API keys can't be protected by package name and secure fingerprint.

[2019-04-09 09:05] syslogic commented on #559
Of course this is possible; you might be referring to outdated information. Just go to the [Credentials Panel](https://console.cloud.google.com/apis/credentials), select such an "Api key" for an Android app... there it reads `Restrict and rename API key` ...`Restrict usage to your Android apps > Add your package name and SHA-1 signing-certificate fingerprint to restrict usage to your Android apps`

[2019-04-12 06:17] domesticmouse commented on #559
I understand what the console says. However, the Maps API backends do not honour that restriction as this wasn't designed as an API to be used from mobile. It was always meant for usage from servers. We have APIs for Android, iOS and the Web for client usage scenarios.

[2019-04-13 16:54] CaptainParanoid commented on #544
implementation group: 'com.github.seratch', name: 'java-time-backport', version: '1.0.0'

[2019-04-13 16:54] CaptainParanoid commented on #544
Add this library to gradle
implementation group: 'com.github.seratch', name: 'java-time-backport', version: '1.0.0'

[2019-04-13 16:55] CaptainParanoid commented on #544
implementation group: 'com.github.seratch', name: 'java-time-backport', version: '1.0.0'

[2019-04-17 14:24] prettyvoid opened #560 "Add user_ratings_total field to place details"
user_ratings_total is missing from placedetails and fieldmasks, can it be added?

Thanks,

[2019-04-17 22:48] domesticmouse commented on #560
We gladly accept Pull Requests =)

[2019-04-19 16:41] apjanke commented on #560
@prettyvoid Per [this](https://issuetracker.google.com/issues/35820858#comment275), `user_ratings_total` is only available as part of the "Atmosphere SKU". Can you provide an example of how to run a query that does the Atmosphere thing and gets a `user_ratings_total` field in the response?

[2019-04-26 14:34] danieldsf opened #563 "Add implementation of Serializable into AutoCompletePrediction$MatchedSubstring class"
Hello!

I am using Spring framework alongside Google Map Services and one of the features that you would like to suggest are the serialization of the class MatchedSubstring, which is located inside of the class AutoCompletePrediction.

So far the class above mentioned does not implement Serializable, so if I try to use cache features returning data from a model that has a composition with the Auto

[2019-04-30 07:06] danoscarmike opened #564 "TextSearchRequest requires `query` even when it contains `type`"
[Docs](https://developers.google.com/places/web-service/search#TextSearchRequests) suggest that `query` parameter becomes optional when `type` parameter is included. However this doesn't seem to work with this library. The [`validateRequest()`](https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/TextSearchRequest.java#L164) method of the `TextSearchReq

[2019-04-30 20:02] domesticmouse commented on #564
The documentation is considered the golden source of truth. Differences between the docs and this library are generally a bug in this code, except in the cases where we are enforcing best practices. Please feel free to submit a PR to fix the `validateRequest()` logic.

/cc @amuramoto

[2019-04-30 20:03] domesticmouse commented on #563
We happily accept PRs!

/cc @amuramoto

[2019-04-30 20:03] domesticmouse commented on #560
/cc @amuramoto

[2019-04-30 20:03] domesticmouse commented on #558
We happily accept PRs!

/cc @amuramoto

[2019-04-30 20:03] domesticmouse commented on #557
/cc @amuramoto

[2019-04-30 20:10] domesticmouse commented on #556
I'm confused as to what the ask here is. If it is a change to the client library, please put together a PR showing the required change. If, however, it is an issue with the API, then https://developers.google.com/maps/support/#issue_tracker is the correct bug tracker.

[2019-05-01 02:46] danieldsf commented on #563
I just created a PR for this issue. #565

[2019-05-01 02:54] #563 closed

[2019-05-01 04:41] danoscarmike commented on #548
Caveat: I'm just learning this API and client myself

It looks like this is intended behavior. See the docs on NearbySearchRequest [here](https://developers.google.com/places/web-service/search#PlaceSearchRequests). Docs suggest using Find Place Request which is exposed in this library as `PlacesApi.findPlaceFromText(...` method.

Hope that helps!

[2019-05-01 04:44] danoscarmike commented on #564
Thanks @domesticmouse. LMK if PR needs anything.

[2019-05-02 01:34] #564 closed

[2019-05-05 16:12] danieldsf opened #568 "Add implementation of Serializable to the AutoCompletePrediction$Term class"
Hello again!

Like I said in the issue #563, I am using Spring framework alongside Google Map Services and one of the features that you would like to suggest are the serialization of the class Term, which is a member of the class AutoCompletePrediction.

So far the class above mentioned does not implement Serializable, so if I try to use cache features returning data from a model that has a compos

[2019-05-05 18:18] #568 closed

[2019-05-13 13:45] DhrisyaTS opened #570 "com.google.maps.PlacesApi does not support both `query` and `location` together as parameters in `textSearchQuery` method"
In java library, `textSearchQuery` method not support both query and location as parameters [java library url](https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/PlacesApi.java) but it's provided in javascript library [js library url](https://github.com/googlemaps/google-maps-services-js/blob/master/lib/apis/places.js)  like below

![image](https://us

[2019-05-13 14:41] domesticmouse commented on #570
We accept PRs =)

[2019-05-21 05:04] danielolssonIT opened #572 "Can't retrieve status messages from Google Directions"
The DirectionResponse class doesn't have a status attribute, where errors like `MAX_ROUTE_LENGTH_EXCEEDED` can be handled. I have tried to get information via the Throwable parameter in the callback `onFailure`, but the responses there seem inconsistent.

Is it possible to access the status message somehow?

[2019-05-21 08:04] domesticmouse commented on #572
/cc @amuramoto

[2019-05-21 21:23] wangela commented on #558
Please see the [documentation: Table 1](https://developers.google.com/places/web-service/supported_types) lists the types supported for place searches (includes restaurant, but not food). Even though a type might be returned in responses, ([Table 2](https://developers.google.com/places/web-service/supported_types#table2) lists those additional types), you can use those response types for post-resp

[2019-05-21 21:23] #558 closed

[2019-06-16 04:13] #556 closed

[2019-06-18 16:02] nguyetv75 opened #574 "JsonSyntaxException: java.lang.NumberFormatException: Expected an int but was 4294967295 at line 289 column 41 path $.routes[0].waypoint_order[0]"
We just started getting the following exception below from Google's direction API.  Has anyone encountered this issue?

com.google.gson.JsonSyntaxException: java.lang.NumberFormatException: Expected an int but was 4294967295 at line 289 column 41 path $.routes[0].waypoint_order[0]
	at com.google.gson.internal.bind.TypeAdapters$7.read(TypeAdapters.java:228)
	at com.google.gson.internal.bind.TypeAda

[2019-06-18 19:52] apjanke commented on #574
Sounds like maybe the `public int[] waypointOrder` field in `com.google.maps.model.DirectionsRoute` needs to be an `unsigned int` or `long`? Can you provide an example of a query that reproduces this?

[2019-06-18 20:00] apjanke commented on #574
BTW, that's a heck of a lot of waypoints – as I understand it from [the API doco](https://developers.google.com/maps/documentation/directions/intro), `waypoint_order` contains a list of indexes into the supplied? waypoints list. If you're getting 4294967295 there, that implies that there are 2^32 waypoints in your route request?!? (4294967295 is a suspicious number because it's the max value for a

[2019-06-19 05:34] domesticmouse commented on #574
/cc @amuramoto as this is potentially an API server issue.

[2019-06-19 10:31] Michael-crazyman opened #575 "How to add timestamp in TimeZoneApi.getTimeZone()？"
This is my pom version, and I cannot figure out how to specify a timestamp parameter when I use TimeZoneApi.getTimezone() function with Java client

[code]

so can someone teach me?

[2019-06-19 13:22] cdandoy commented on #574
Here is an example of a request that failed 20 minutes ago, only 2 waypoints, the same request works fine now.
https://maps.googleapis.com/maps/api/directions/json?key=xxxx&origin=39.43546890,-76.80062610&destination=39.43546890,-76.80062610&waypoints=39.44081090,-76.80682870|39.42602700,-76.84214290

We do ~40k direction requests per day and 50 failed yesterday with that error. The issue started

[2019-06-22 19:29] NAVODYA123 opened #576 "how to use the geometry library with this java client"
I need to use compute offsets method defined in the google.maps.geometry library. I have already downloaded the java client for google maps API and used some of the defined API methods.but  it says in the documentation to add the required library request in the bootstrap.I need to know the code to how to to that in java instead of java script.

[2019-06-24 08:26] amuramoto commented on #574
@cdandoy any recurring incidence of this?

[2019-06-24 12:47] cdandoy commented on #574
No, it stopped, the last occurrence was on the 20th.
Thank you.

[2019-06-24 13:01] amuramoto commented on #574
Ok, I'm going to close, but please ping or open a new issue if you see it recur. Thanks for reporting!

[2019-06-24 13:01] #574 closed

[2019-06-24 13:03] amuramoto commented on #575
Hello! Please post how-to questions to our StackOverflow tag:

https://stackoverflow.com/questions/tagged/google-maps

[2019-06-24 13:03] #575 closed

[2019-06-27 20:51] darja commented on #544
@CaptainParanoid Just faced this issue and your answer helped. Thank you!

[2019-07-03 19:05] vineelya opened #579 "Does Google Maps support Bulk Request support"
I have a data-set of 16 Millions for which I will send the address etc to Google Geocoding API and get the lat-longs. Right now we are making an API request for POI by POI, I'm wondering if we can do bulk /batch request, where in which I send around 500 POIs or so, so that we can save some round-trip time. Please advise.

[2019-07-04 06:07] domesticmouse commented on #579
Duplicate of https://github.com/googlemaps/google-maps-services-python/issues/285

[2019-07-04 06:07] #579 closed

[2019-07-09 10:58] gloompi commented on #138
@apjanke Thanks a lot!!!!

[2019-07-10 21:40] #560 closed

[2019-07-29 01:48] domesticmouse commented on #576
This client library is a wrapper for Google Maps Web Services APIs. This don't include functionality for Geometry calculations.

[2019-07-29 01:48] #576 closed

[2019-07-30 16:56] MSimonart commented on #123
To prevent retry attempts, my GeoApiContext looks like this:

`
GeoApiContext distanceCalculator = new GeoApiContext.Builder().apiKey(DISTANCE_CALULATOR_API)
					.retryTimeout(0, TimeUnit.MICROSECONDS).build();`

[2019-08-01 07:47] rchopda commented on #572
static class is defined without access modifier (default) if we change the modifier to public similar to GeolocationApi Response we will be able to use google-maps-services sdk to parse the json response returned by maps api.
Any specific reason static  api response classes are created with default access modifier

[2019-08-01 09:02] domesticmouse commented on #572
There have been several maintainers through the years, but it’s probably my fault. Please feel free to create a PR to make said class public. Thanks!

[2019-08-01 09:56] rchopda commented on #572
Hi Brett,

PR raised please validate and approve

[2019-08-03 22:59] amuramoto commented on #572
Looks like this can be closed? @domesticmouse

[2019-08-06 00:25] #572 closed

[2019-08-18 09:48] darshitpp commented on #570
@domesticmouse please approve the PR for this created in #588

[2019-08-22 21:36] KevinRamsunder opened #589 "Unsupported field name 'alt_id'"
Today, inexplicably, the maps API stopped supporting the ALT_ID field, and all of our place detail requests started failing.

Why? It's still listed here: https://github.com/googlemaps/google-maps-services-java/blob/183e6c13324bdc03debd48b24980e761809d2d05/src/main/java/com/google/maps/PlaceDetailsRequest.java#L122

[2019-08-22 21:41] domesticmouse commented on #589
Please raise your issue at https://developers.google.com/maps/support/#issue_tracker

This issue tracker is just for the client library. Thanks!

[2019-08-22 21:41] #589 closed

[2019-08-29 16:57] amuramoto commented on #557
@AmbroiseS were you able to track this down?

[2019-08-29 17:02] AmbroiseS commented on #557
No sorry I spent some time but could not make sense of it

[2019-08-29 17:12] amuramoto commented on #557
@AmbroiseS can you provide an example of the call that's throwing?

[2019-08-30 17:20] amuramoto commented on #546
closing this since the reported issue of using zip code causing the method to throw was determined to be due to an old version

[2019-08-30 17:20] #546 closed

[2019-08-30 17:30] amuramoto commented on #473
Closing since `./gradlew clean test` is not displaying any errors at HEAD

[2019-08-30 17:30] #473 closed

[2019-09-03 18:24] bbasumatary commented on #369
Stuck on the same issue .. we have  proxy for https (8081) and  http (8080).

GeoApiContext context = new GeoApiContext.Builder()
				.proxy(new Proxy(Type.HTTP, new InetSocketAddress("******************", 8081)))
				.proxyAuthentication("***", "****************")
				.apiKey("AI*****").build();

		LatLng location = new LatLng(40.714728, -73.998672);
		ElevationResult results;
		try {
			results

[2019-09-06 17:55] comesm opened #596 "Release dates for publishing to maven central"
Hello more of just an information question, but when will the most recent features for Version 0.10.0, be released to maven central? Thank you!

[2019-09-09 18:27] jpoehnelt commented on #551
@fg78nc I am going to close this with a link to the [StackOverflow discussion](https://stackoverflow.com/questions/55073306/osgi-maven-wrapped-bundle-throws-java-lang-classnotfoundexception-if-it-tries) about this issue. Let me know if there is something we can change on our end!

[2019-09-09 18:27] #551 closed

[2019-09-11 15:55] cberry2 commented on #596
Wondering about this as well!

[2019-09-11 20:45] jpoehnelt commented on #596
Sorry for the delay, there is currently a transition to new maintainers and some processes around publishing still need to be shared. I'll do my best to get 0.10.0 published in the next two weeks and will update here if there is a change in that schedule.

[2019-09-16 11:12] Edholm opened #599 "Version 0.10.0 doesn't specify any dependencies in the pom.xml in maven central"
#### Steps to reproduce

  1. Check pom.xml in mvn central:https://repo1.maven.org/maven2/com/google/maps/google-maps-services/0.10.0/google-maps-services-0.10.0.pom

The earlier version does specify dependencies, but the newest one does not, leading to `ClassNotFoundExeptions`

Is this intended or something that has gone wrong when converting from Gradle to maven?

[2019-09-16 17:52] cberry2 opened #600 "Places: PlaceDetails requests always returning 0 for `userRatingsTotal`"
#### Environment details
Mac OSX 10.14.5 (though I don't think this is platform-specific)
Google Maps Java Client: 0.10.0

#### Steps to reproduce

REST
  1. Make request via place_id
  2. Observe `userRatingsTotal` is populated

Java
  1. Make request via place_id
  2. Observe `userRatingsTotal` is *not* populated

#### Sample Place ID's
- ChIJA1jIbtr6xokRNiz5hwCBBGQ
- ChIJrUQId2tUxokRnN-eW7BbOmw

[2019-09-16 19:43] cberry2 commented on #600
My mistake! I hadn't updated my field mask, I now see user ratings total. Thanks!

[2019-09-16 19:43] #600 closed

[2019-09-19 15:52] jpoehnelt opened #602 "Update Place Types"
The place types are currently not up to date.

[2019-09-20 17:12] jpoehnelt opened #604 "Remove use of deprecated place fields `alt_id`, `id`, `reference`, and `scope`"
The following, `alt_id`, `id`, `reference`, and `scope`, are now deprecated. Read more about this at https://developers.google.com/maps/deprecations.

[2019-09-21 02:14] amuramoto commented on #599
This is fixed in https://github.com/googlemaps/google-maps-services-java/pull/606. We'll publish the fix as v0.10.1 on Monday.

Thanks for catching this!

[2019-09-24 20:40] #604 closed

[2019-09-24 21:39] mleach-sr opened #607 "Geocoding - Possible All APIs - okhttp3 and gson are undocumented dependencies?"
Please be sure to include as much information as possible:

#### Environment details

1. This was discovered using the Geocoding API, but may apply to all
2. Mac Mojave
3. Kotlin Project, using 0.10.0 of the Google Maps Service Client

#### Steps to reproduce

  1. While trying to test geocoding I ran into several errors on using the sample code (below) - these errors seem to be related to depende

[2019-09-24 22:01] jpoehnelt commented on #607
This was an issue with 0.10.0 that should be corrected with version 0.10.1(coming soon). See https://github.com/googlemaps/google-maps-services-java/issues/599.

[2019-09-24 22:01] #607 closed

[2019-09-24 22:01] jpoehnelt commented on #599
Reopening until published.

[2019-09-24 23:10] #602 closed

[2019-09-25 16:35] jpoehnelt commented on #599
0.10.1 is available: https://search.maven.org/artifact/com.google.maps/google-maps-services/0.10.1/jar

[2019-09-25 16:35] #599 closed

[2019-09-25 16:36] jpoehnelt opened #609 "Automate javadoc publishing"

[2019-09-27 05:54] neal0892 commented on #609
Following!!

[2019-09-27 21:40] #609 closed

[2019-09-27 21:41] jpoehnelt commented on #531
It's available at https://static.javadoc.io/com.google.maps/google-maps-services/0.10.1/package-list.

[2019-09-27 21:41] #531 closed

[2019-09-30 13:22] anshul35 commented on #261
Getting the same issue :(

[2019-09-30 13:22] anshul35 commented on #261
Exception in thread "Rate Limited Dispatcher" java.lang.OutOfMemoryError: unable to create new native thread
	at java.lang.Thread.start0(Native Method)
	at java.lang.Thread.start(Thread.java:717)
	at java.util.concurrent.ThreadPoolExecutor.addWorker(ThreadPoolExecutor.java:957)
	at java.util.concurrent.ThreadPoolExecutor.processWorkerExit(ThreadPoolExecutor.java:1025)
	at java.util.concurrent.Thre

[2019-10-02 10:22] matthjes opened #615 "Simple application never finishes"
#### Environment details

1. Geocoding
2. Windows 10
3. JDK 11, Geocoding API 0.10.0, OKHTTP 4.2.0, Gson 2.8.5

#### Steps to reproduce

  1. Run minimal example found below.
  2. Application runs and fetches geolocation, but never finishes (background threads are still  running?)

#### Code example

Main class:
[code]

Service:
[code]

#### Output
[code]

#### Stack trace
[code]

[2019-10-06 08:30] denismakogon opened #620 "JPMS incompatibility"
Java modules are not new to the Java ecosystem, they've been around since Java 9.
While attempting to build an application using [JLink](https://docs.oracle.com/javase/9/tools/jlink.htm), the `jlink` CLI complains that Maps SDK is not compatible and cannot be linked as a module:
[code]

SDK version: `0.10.1`

In order to fix this problem, there is a need to turn a library into a bunch of modules (

[2019-10-07 16:09] jpoehnelt commented on #615
I'm assuming this is related to #261?

[2019-10-07 16:23] pablorcruh commented on #544
Thanks @CaptainParanoid your answer helped me

[2019-10-08 19:30] denismakogon opened #621 "[Debugging features] Request serialization"
I'm trying to debug certain problems Static Maps API, constantly receiving HTTP 403.
So, I was trying to get a raw representation of the request. At first, I thought that `toString()` will actually provide raw request, but it doesn't seem to be implemented that way.

So, would be nice to have a way to serialize the request in order to see how was it formed and analyze it later via wget/curl/browse

[2019-10-17 00:44] paaljoachim opened #623 "Open source Google maps?"
Thanks for stopping by to let us know something could be better!

---> Thank you for the above message! I really hope you also mean it!
I have come across many web sites from various countries where once upon a time Google maps worked nicely. After the shift to a much tighter and more difficult to handle Google maps API A LOT of sites now have a none working Google maps. Showing instead a Google m

[2019-10-17 12:49] tguless commented on #261
Apparently if you are going to do this in your code like the docs specify:

           GeoApiContext context = new GeoApiContext.Builder().disableRetries()
                    .apiKey(googleApiKey)
                    .build();
            GeocodingResult[] results = GeocodingApi.geocode(context, address).await();

You must also do this:
          context.shutdown();

Which the docs do not specify

[2019-10-21 18:14] jpoehnelt commented on #623
Hi @paaljoachim,

These are known issues and a result of changes over many months to give the website owners the opportunities to add a key to their Google Maps Usage. Unfortunately, this change was necessary to limit unrestricted and abusive users that degrade the experience for others. It should be noted that many of the sites having issues will use less than the credited amount each month. Howe

[2019-10-21 18:14] #623 closed

[2019-10-23 04:34] sriramkp opened #624 "The Places Api returns only 60 results"
The below code returns only 60 results, kindly help me to fetch all the results for any query given.

#### Code example

[code]

[2019-10-23 10:02] adrilo opened #628 "Missing Address and AddressComponent Types"
The API started returning new types for the Address and AddressComponents that are not defined in the library. This generates warnings when deserializing API responses.

I created a PR but I can't get the GoogleBot to find my signed CLA: https://github.com/googlemaps/google-maps-services-java/pull/627. Feel free to take it over :)

[2019-10-23 17:56] #624 closed

[2019-10-24 05:04] sriramkp commented on #624
If it is to avoid scraping for developers, why google maps is giving more than 60 results for users? Avoid scraping for users and not to the developers.

[2019-10-29 23:21] paaljoachim commented on #623
Hey Justin

This is a tricky/difficult process and on top of that one has to also insert a credit card number which is something a lot of people just do not want to do including myself. It would have been a lot better if it had been a lot easier to go from what was earlier to the new just by following a few simple steps. Kinda like taking the hand and guiding all users through the setup of the new

[2019-11-12 16:20] rdfreitas commented on #544
Thanks @CaptainParanoid

[2019-11-13 21:40] onclave opened #630 "How do I use the GeocodingApi.Response class to get the overall response?"
Hello,

I have just started using this library for geocoding. The basic example given in the README helps me get the `results` in a `GeocodingResult[]` array. But I'd like to use the `GeocodingApi.Response` object to access the `status` as well as `errorMessage` of the entire JSON response.

The `GeocodingResult[]` can be obtained using:

[code]

Is there any way I can get a `GeocodingApi.Response

[2019-11-28 06:38] darshitpp opened #631 "MAX_ROUTE_LENGTH_EXCEEDED Exception is not supported"
According to Google documentation of [Directions API](https://developers.google.com/maps/documentation/javascript/directions#DirectionsStatus),

Unfortunately, the documentation also doesn't deterministically explain _when_ the API would return this error.

Nevertheless, there is no Exception class for the above Exception in the library.

[2019-11-28 07:14] darshitpp commented on #631
@domesticmouse, please feel free to suggest if these changes are required. I have created a PR for the issue at https://github.com/googlemaps/google-maps-services-java/pull/632

Not sure why Github shows 4 commits because two of them have already merged.

[2019-11-28 19:34] domesticmouse commented on #631
Hey Darshit,

I've assigned @jpoehnelt as the reviewer for your PR as I no longer work on Google Maps. Thanks for the PR, much appreciated =)

brett

[2019-12-11 04:00] darshitpp commented on #631
Closing this issue as the fix has been merged into the master branch from #632

[2019-12-11 04:00] #631 closed

[2019-12-12 14:01] bmccauley opened #635 "Google Maps fails to use TLS 1.2 in Java 8 environment"
I am running Google Maps 0.10.1 under Java 1.8.0_221. When I try to run the given sample code:

[code]

I get an exception:

[code]

Google Maps believes that TLSv1 is the only supported protocol. However, if I test this by creating an SSLSocket:

[code]

I see TLSv1, TLSv1.1, and TLSv1.2. Google Maps should be able to use TLSv1.2 like other libraries in my environment.

[2019-12-13 18:29] jpoehnelt commented on #635
Might be related to https://github.com/dropbox/dropbox-sdk-java/issues/246

[2019-12-31 09:22] ironblaster opened #641 "documentation problem"
in the readme file, the call of the shutdown () method is not specified at the end of a request.

this is a problem because after n requests java creates multiple threads not closed
and in the case of tomcat the instance goes into error

[2020-01-01 20:43] jpoehnelt commented on #641
Mind submitting a pr?

[2020-01-02 08:37] ironblaster commented on #641
have create new pr

[2020-01-03 20:15] jpoehnelt opened #643 "Support Experience Id Header"

[2020-01-06 22:57] denismakogon commented on #621
It is still a thing, would be nice to get this tiny feature.

[2020-01-06 23:11] jpoehnelt commented on #621
Agreed, I'm looking through all of the client libraries to refactor to better expose transport internals and simplify the layers of abstraction. Currently working through the node client library and I'll probably move to this library next.

[2020-01-07 17:51] jpoehnelt commented on #641
closed by #642

[2020-01-07 17:51] #641 closed

[2020-01-07 21:00] #557 closed

[2020-01-21 19:44] #643 closed

[2020-01-22 16:38] Huddlect opened #653 "Static map request from Bounds"
I would like to retreive a static map from a Bounds object returned by a text search. Is that possible?

[2020-01-29 14:08] arwa123 commented on #630
facing the same issue. Please respond

[2020-01-29 15:13] Biseamon opened #657 "NearbyPlacesRequest Api does not work with android fusedLocationProviderLocation! I want to place as markers on map the nearby places, however the LatLng says that is not compatible with android. Do I need to find user location using this library, because at the moment I am using androidx library. Also, do I need Google App Engine for that or it is not mandatory?"
I try to display all the nearby places by name around user location. For the user location, I am using android places sdk, however the sdk does not provide nearby places functionality. So, I am trying to apply google-maps-services-java for that. Could you clarify me if I am doing something wrong? I cannot understand how to use correctly this lib.

1. NearbyPlacesRequest Api:

`@RequiresApi(api = B

[2020-01-29 22:17] arriolac commented on #630
Getting the `GeocodingApi.Response` class is not possible right now with the current design. If you want to get the error, you'll have to catch the exception thrown by `await()`. So:

[code]

[2020-01-29 22:19] #630 closed

[2020-01-29 23:16] arriolac commented on #657
As stated under the [Intended Use of This Library](https://github.com/googlemaps/google-maps-services-java/blob/master/README.md) in our README, this library is not meant to be used in an Android app. Instead, you can compose an HTTP network call directly using the Place Search API in your Android app. You can read more about the Place Search API [here](https://developers.google.com/places/web-ser

[2020-01-29 23:16] #657 closed

[2020-01-30 00:12] Biseamon commented on #657
It says clearly that it can be used for android development by using google app engine and this library...

[2020-02-10 18:49] jpoehnelt commented on #653
Yes, this should be possible. Do you have any code that isn't working as expected?

[2020-02-17 16:55] Huddlect commented on #653
I couldn't find a method which does that even though it seemed like an obvious thing to do.

[2020-03-02 15:06] kevcodez opened #661 "Unknown type for enum com.google.maps.model.AddressType: 'town_square'"
The API seems to return an address type missing in the enum.

[2020-03-02 18:24] #661 closed

[2020-03-03 06:57] yangd102 opened #663 "Add monitoring metrics for latency and errors"
**Is your feature request related to a problem? Please describe.**
It would be good to have monitoring metrics that would allow us to see the latency and error rates of API methods.

 **Describe the solution you'd like**
Create hooks into the SDK to allow somebody to observe latency and error rates. By default make the hooks do nothing. Provide an OpenCensus plugin that would export the latency an

[2020-03-03 17:15] #663 closed

[2020-03-08 17:09] wissanu1987 opened #667 "Test"
Thanks for stopping by to let us know something could be better!

---
**PLEASE READ**

If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/). This will ensure a timely response.

Discover additional support services for the Google Maps Platform, including developer communities, technical guidance, and expert support at the Go

[2020-03-08 17:09] wissanu1987 commented on #667
git@github.com:wissanu1987/alexa-jammer.git

[2020-03-09 09:43] wissanu1987 commented on #667
git@github.com:wissanu1987/autovpn.git

[2020-03-09 15:51] #667 closed

[2020-03-28 12:54] dmoebius opened #669 "SafeEnumAdapter: Unknown type for enum com.google.maps.model.AddressType: 'drugstore'"
It looks an entry for "drugstore" needs to be added to the AddressType enum

[2020-03-30 19:13] edpi opened #670 "DistanceMatrixApi terms of use in Javadoc"
Hi,

this is not properly a bug, but not sure where to include it.

In DistanceMatrixApi javadoc, it is written:

"Use of the Distance Matrix API must relate to the display of information on a Google Map; for example, to determine origin-destination pairs that fall within a specific driving time from one another, before requesting and displaying those destinations on a map. Use of the service in a

[2020-03-30 19:34] #670 closed

[2020-04-01 18:45] mochat97 opened #672 "Using Ktor results in CallNotFoundException due to work on wrong thread"
I'm using Ktor, which is based on coroutines. This seems to be conflicting with the thread manager that the Google Maps Platform Java library uses. It keeps giving me an `Unexpected exception from com.google.apphosting.api.ApiProxy$CallNotFoundException: Can't make API call urlfetch.Fetch in a thread that is neither the original request thread nor a thread created by ThreadManager` error.

#### En

[2020-04-02 16:30] edumucelli opened #673 "Using Gzip compression"
I'd be interested on adding Gzip compression support into the calls to Google API. For instance, I have been using this library for Directions API and I have been digging into the code to discover whether some compression is in place. For the Directions use case the payload size percentiles I am seeing on my end are shown below

![payload-size-percentiles](https://user-images.githubusercontent.com

[2020-04-02 17:53] jpoehnelt commented on #673
I think it is already enabled transparently. See https://github.com/square/okhttp/issues/2132#issuecomment-169500736 and the following comment.

[2020-04-05 18:23] Abosnd02 commented on #673
35177729+Abosnd02@users.noreply.github.com

[2020-04-06 11:03] edpi opened #674 "NoClassDefFoundError in 0.11.0"
Hi,

I have done a very simple MatrixDistanceAPI example to test how it works, but I don't know why I get the following error:

Exception in thread "main" java.lang.NoClassDefFoundError: kotlin/TypeCastException
	at okhttp3.ResponseBody.create(ResponseBody.java:214)
	at okhttp3.internal.Util.<clinit>(Util.java:69)
	at okhttp3.OkHttpClient.<clinit>(OkHttpClient.java:124)
	at okhttp3.OkHttpClient$Bu

[2020-04-06 17:07] arriolac commented on #674
@edpi looks like you have a missing dependency that's required by the `okhttp` library. Based on the stacktrace you shared, it's missing `kotlin-stdlib`.

I do recommend using gradle/maven to pull in this library so that the dependency tree can be initialized for you rather than pulling in individual .jar files.

Closing this since it's not related to this library.

[2020-04-06 17:07] #674 closed

[2020-04-07 19:47] jpoehnelt commented on #673
@edumucelli Let me know if I am incorrect in my reading of the above. Closing for now.

[2020-04-07 19:47] #673 closed

[2020-04-09 15:04] edumucelli opened #675 "Google Directions discrepancy on ZERO_RESULTS"
The ZERO_RESULTS logic differ when using this library and the HTTP API for Google Directions. The result will be that the `ZeroResultsException` is never thrown and we have to recreate it. For instance, make this call that goes from the middle of the ocean to the middle of the ocean returns `ZERO_RESULTS` when `curl`ing the API:

`https://maps.googleapis.com/maps/api/directions/json?origin=9.19872

[2020-04-09 16:53] arriolac commented on #672
Hi @mochat97, based on the stacktrace you shared, you will need to create the full request object (specifically the `GeoApiContext`  which creates a `OkHttpRequestHandler` internally) inside the coroutine scope where the request is invoked.

So:

[code]

[2020-04-10 03:14] mochat97 commented on #672
Still doesn't work :(

[2020-04-16 00:28] arriolac commented on #672
I'm not very familiar with Ktor but seems like the only solution here would be to create a custom `Dispatcher` (instead of `Dispatchers.IO`) that pulls new threads from [ThreadManager](https://cloud.google.com/appengine/docs/standard/java/javadoc/com/google/appengine/api/ThreadManager).

[2020-04-23 16:59] required-files-bot[bot] opened #678 "Required File: .github/CODEOWNERS"
The following file is missing from this repository: **.github/CODEOWNERS**

Do not edit below:
meta: [.github/CODEOWNERS]

[2020-04-28 07:09] rems opened #680 "[publish.yml]: Deploy to maven central not working"
Hi,

I was looking for release 0.12.0 in maven central, but it is not deployed.

I found the github action to deploy. It seems in error.

https://github.com/googlemaps/google-maps-services-java/runs/610585977?check_suite_focus=true

Thank you

[2020-04-28 17:19] arriolac commented on #680
Thanks for reporting. I'm aware that the `publish.yml` workflow needs some work which is why I released a new artifact locally yesterday. However, it appears that it has not yet been synced with maven central yet which I'm working towards resolving. In the meantime, I've uploaded the `.jar` artifacts to the [0.13.0](https://github.com/googlemaps/google-maps-services-java/releases/tag/v0.13.0) rele

[2020-04-28 18:17] arriolac commented on #680
I was able to resolve the maven issue, you should now be able to download the 0.13.0 version on maven central. I'll keep this issue open until the error on the github publish action is resolved.

[2020-04-29 05:55] rems commented on #680
Thank you for uploading 0.13.0 :+1:

[2020-05-04 15:16] DeepaZirius commented on #281
Hi ivanpolak, can you explain me what settings you fixed in eclipse to solve this error. I am facing a similar situation, that during runtime NoClassDefFoundError occurs for CallBack class of okhttp version 2.7.5. I am including a jar file that has this okhttp2.7.5 as a dependency

[2020-05-05 16:16] jdwilkin opened #681 "Support Streetview Metadata API"
Is there any appetite to add the Streetview Metadata API?
https://developers.google.com/maps/documentation/streetview/metadata

thanks

[2020-05-08 17:57] arriolac commented on #681
This is not an API we were looking to add afaik. @jpoehnelt can you confirm?

However, if this addition would be good for your use case, feel free to send us a pull request and we'd be happy to review and integrate it.

[2020-05-14 17:56] frochi42 opened #682 "encountered JAVA com.google.apphosting.api.ApiProxy$CallNotFoundException when using geocoding in GCP app-engine"
I need to call GeocodingApi.reverseGeocode from with a java app running in an GCP app-engine. My code looks like:

context = new GeoApiContext.Builder(new GaeRequestHandler.Builder())
	    .apiKey("<my-key>").build();

LatLng location = new LatLng(posLat, posLong);
GeocodingApiRequest request = GeocodingApi.reverseGeocode(context, location);
GeocodingResult[] results = request.await();

Running th

[2020-05-15 07:00] angelarosario commented on #621
Is there an update to this?

[2020-05-21 02:43] rahulpopuri opened #685 "Add distance_meters and origin support for Places Autocomplete"
The `origin` and `distance_meters` fields are not currently supported, would be great to add them.

Documented here: https://developers.google.com/places/web-service/autocomplete

[2020-05-26 15:29] #685 closed

[2020-05-26 17:47] #680 closed

[2020-07-01 11:59] raviMukti opened #687 "HOW TO ADD ORIGINS WITH LatLng Array"
Hello, iam little bit confusing about the usage of LatLng array in DistanceMatrixApi, i used the LatLng array for origins, but it gives me String instead of List of LatLng, how to achieve that correctly.

This is my code
[code]

[2020-07-05 03:20] #687 closed

[2020-07-05 22:03] #620 closed

[2020-07-07 18:38] jom-jom opened #688 "Route restrictions misses new (?) "indoor" parameter"
Hello,
first, I would like to thank you for this library - I use it in my first own software project for my master's thesis in the social sciences. It helps a lot, especially since I am fairly new to Java and programming.

 **Is your feature request related to a problem? Please describe.**
The class com.google.maps.DirectionsApi contains the enum RouteRestriction which as of now has three elements

[2020-07-08 13:39] jom-jom commented on #688
I also stumbled upon a minor flaw in the javadoc of com.google.maps.DistanceMatrixApiRequest.mode(TravelModel mode) : Currently, it reads "Note that Distance Matrix requests only support TravelMode.DRIVING, TravelMode.WALKING and TravelMode.BICYCLING". But the method actually supports these three and TravelMode.TRANSIT

[2020-07-09 19:46] PaulLockett commented on #547
Im new to java and Im trying to test my code that calls the places API.

I am running my test with maven and have gotten to the point that I need to place the extended class in the package and Im not sure how.

I get the this error:
error: cannot find symbol
symbol:   class TestGeoApiContext
location: package com.google.maps

how can I make maven think that the extended class is coming from the pa

[2020-07-10 17:05] vojtapol opened #689 "Allow using existing session token(String) in place autocomplete"
In our case the session token is not generated on the service that does the Google Places API call. Instead an existing token is passed from the client to facilitate correct billing. The token is not necessarily a UUID and there is no reason why only UUID should be allowed as implemented here #478. The API accepts any string as a token.

My request is to add another constructor to `SessionToken`:

[2020-07-13 18:02] vojtapol commented on #689
Workaround:

[code]

This could be also used in the constructor so that the field in `SessionToken` can remain of type `UUID`.

[2020-07-19 03:58] deepakdaneva opened #691 "Geometry API should be available for isLocationOnEdge()"
isLocationOnEdge() availability
---
**Scenario**

In my case, I had to check whether the given location position (lat long) is on the path or nearby (with tolerance) on the server-side.
Any suggestions how am I suppose to do that?

[2020-07-22 20:46] mpara0 opened #693 "Expand Mapping Locations on Trails and Rivers"
I like how Google Maps does a phenomenal job with connecting users from Point A to Point B by providing users a variety of routes and information on location and time of arrival for efficiency!

I constantly use Google Maps to navigate my trips on the road and wanted to know if it is possible to expand the platform for providing navigation for outdoor activities, namely hiking and kayaking. The re

[2020-07-30 11:17] ityulkanov opened #694 "I would like to change the locale of the results I'm getting"
Thanks for stopping by to let us know something could be better!

---
**PLEASE READ**

If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/). This will ensure a timely response.

Discover additional support services for the Google Maps Platform, including developer communities, technical guidance, and expert support at the Go

[2020-08-11 04:50] #615 closed

[2020-08-11 16:19] jpoehnelt commented on #689
Mind submitting a pr?

[2020-08-12 15:47] vojtapol commented on #689
Will do.

[2020-08-14 15:49] #688 closed

[2020-08-14 15:58] arriolac opened #695 "Fix GitHub publish workflow"
GitHub publish workflow currently fails and returns a 401. Running `./gradlew publish` locally is currently required as a workaround for this.

#### Environment details

GitHub actions

#### Steps to reproduce

  1. Merge a PR that is supposed to trigger a build
  2. Notice that the publish workflow fails with a 401

#### Code example

[code]

#### Stack trace

[code]

[2020-08-20 16:44] kdoomsday opened #696 "Allow for multiple types in PlaceAutocompleteRequest"
PlaceAutocompleteRequest allows restricting via a call to types(PlaceAutocompleteType type). This, however, constrains you to a single value of the enum. The general API allows restricting to more than one type.

  I believe there should be a mechanism for passing more than one value to the types() method, or having multiple calls to types() accumulate the values, instead of replacing them.

[2020-09-09 20:22] #678 closed

[2020-09-11 17:33] xlan-codes commented on #544
you saved my life

[2020-09-12 10:03] johnb9682 commented on #682
Think the root cause might be missing _EnvironmentFactory_ stated in ApiProxy.java.
envFactory is null.
[code]

But i am not sure how to set EnvironmentFactory.

[2020-10-01 15:32] jpoehnelt commented on #693
Thanks for the feedback! I am an avid hiker/biker/trail runner myself and this is of personal interest to me. There are efforts to always improve the maps and routing experiences. As a consumer of this platform, you can encourage organizations to submit these routes and layers at https://support.google.com/mapcontentpartners/answer/9359574?hl=en. If you have additional feedback on this, I suggest

[2020-10-01 15:32] #693 closed

[2020-10-29 11:56] Eagle94T opened #697 "Geocoding: API throws OverQueryLimitException instead of OverDailyLimitException"
#### Environment details

1. Geocoding API
2. JDK: OpenJdk 1.8.0_212
3. Library Version: 0.15.0

#### Steps to reproduce

  1. Set a daily limit of 1 in the api
  2. Execute more than one geocoding Command
  3. Check the class of the thrown exception

#### Should
A `OverDailyLimitException` is thrown

#### Is
A `OverQueryLimitException` is thrown

#### Code example

[code]

#### Bug
The api curren

[2020-11-18 20:25] dapengzhang0 commented on #467
As commented here https://github.com/grpc/grpc-java/blob/v1.33.1/build.gradle#L278,  we must specify one html version for java 10. For java 11+, 'html4' option is removed. So we may choose 'html5' option to support all jdk version.

[2020-11-20 16:22] PratikBorhade302 commented on #697
hey @arriolac , @Eagle94T  I would like to work on this issue. Can you help me to get started.

[2020-11-20 18:11] Eagle94T commented on #697
@PratikBorhade302 have a look at https://github.com/googlemaps/google-maps-services-java/blob/67bdabdd627cc6c42f20f8cf585bdbedf2a849a6/src/main/java/com/google/maps/errors/ApiException.java#L52

This if-statement is not valid anymore, since the message has changed as described above.
Should be an easy fix.

[2020-11-23 03:36] PratikBorhade302 commented on #697
@Eagle94T ,
I set project to my local machine but I'm not getting how to test the code.
Sorry for silly question, I'm trying to contribute for very first time to open source.

[2020-11-23 04:00] PratikBorhade302 commented on #697
@Eagle94T , @arriolac could you please help me.

[2020-11-23 18:15] arriolac commented on #697
Apologies for chiming in just now. I've had limited bandwidth and have not had the chance to look into this issue.

@PratikBorhade302, the best way to test your change would be to add a new test (e.g. `ApiExceptionTest.java`) within this package https://github.com/googlemaps/google-maps-services-java/tree/master/src/test/java/com/google/maps and validate that the correct exception is raised. If yo

[2020-11-25 07:08] Eagle94T commented on #697
@PratikBorhade302 how is it going? Can I help you out somehow?

[2020-11-25 10:32] PratikBorhade302 commented on #697
Yes,
 do you know **how to set daily limit of 1 in API ??**
Will it be fine if I use your given `code example` for the test??

[2020-11-25 10:42] Eagle94T commented on #697
@PratikBorhade302 Sure, go ahead an use it.
The daily limit can be set at this page of your project: https://console.cloud.google.com/google/maps-apis/quotas after selecting the project and the Geocoding API you have three accordeons, at the bottem of the third (Requests) you should see the limits and be able to edit them.

[2020-11-25 11:07] PratikBorhade302 commented on #697
@Eagle94T
**Steps to reproduce** `2. Execute more than one geocoding Command` what actually I should have to do here??
sorry for troubling you

[2020-11-25 14:21] Eagle94T commented on #697
@PratikBorhade302 as soon as you limited the daily-quote, you should be able to reproduce the bug by executing at least 2 call to the api (e.g. executing this line twice: `geocodingApi.geocode(geoApiContext, address).await();`). This should throw the OverDailyLimitException which you are trying to reproduce.

[2020-11-26 05:03] PratikBorhade302 commented on #697
Give me some time @arriolac , @Eagle94T .
I dont have credit card to set billing account and they dont accept debit cards for it . I'll do it within in this week.
I'm unable to send api request without billing account.
Sorry for following delay.

[2020-12-01 09:11] sergekukharev opened #700 "SafeEnumAdapter wants `plus_code` address type"
Hey folks!

I've been getting warnings from SafeEnumAdapter in one of my projects when trying to use geocoding API, specifically reverse geocoding:
[code]

I've created a PR that fixes this issue https://github.com/googlemaps/google-maps-services-java/pull/699

#### Environment details

1. Geocoding API
2. MacOS / OpenJDK 15
3. 0.15.0

#### Steps to reproduce

  1. Make a reverse geocoding request

[2020-12-01 15:05] #700 closed

[2020-12-02 15:50] sumitskj commented on #675
Hi @arriolac, can I work on this bug.

[2020-12-02 16:17] jpoehnelt commented on #675
@sumitskj Please do! 👍

[2020-12-09 10:39] ZeroOne3010 opened #701 "GeoApiContext to implement java.util.Closeable"
**Is your feature request related to a problem? Please describe.**
The API doesn't make it obvious that a `shutdown()` method of `GeoApiContext` objects should be called, nor that any subsequent calls after shutdown will fail.

 **Describe the solution you'd like**
`GeoApiContext` should implement the [`java.io.Closeable`](https://docs.oracle.com/javase/8/docs/api/index.html?java/io/Closeable.html

[2020-12-11 00:33] AndroidDeveloperLB opened #702 "Bug: when used on Android, it misses some important Proguard rules"
This:
https://issuetracker.google.com/issues/174494519

Sadly was told this isn't an official SDK for Android, but it's still what we have for it.

[2020-12-11 16:28] jpoehnelt commented on #702
This library is not intended to run on Android. No proguard rules will be added.

[2020-12-13 22:12] #653 closed

[2020-12-14 07:14] AndroidDeveloperLB commented on #702
@jpoehnelt Can you please at least update the main repository, to show how people should use it, if used on Android?
It's a Java library, so if it's possible to use it on Android, it's an advantage. Please write which Proguard rules we should add in this case.

[2020-12-14 14:51] alaminprogramerr commented on #178
https://guides.github.com/features/mastering-markdown/

[2020-12-14 16:20] jpoehnelt commented on #702
I reopened this as a feature request to add proguard rules. If someone in the community wants to add these that would be appreciated.

[2020-12-14 16:28] AndroidDeveloperLB commented on #702
@jpoehnelt Well, at least according to what I've found, this should work:

[code]

But maybe it's too much or too little. I might be wrong on this, because I use the library for very specific stuff...

[2020-12-18 08:19] per-ostgard-wcar opened #703 "Version 0.15.1 of google-maps-services is not available in maven central repo"
I specify my dependency on google-maps-services like so
`
<dependency>
<groupId>com.google.maps</groupId>
<artifactId>google-maps-services</artifactId>
<version>0.15.1</version>
</dependency>`

But I get an error "Could not find artifact com.google.maps:google-maps-services:pom:0.15.1"

A manual search at search.maven.org gives not hits on 0.15.1 either

Could you please add the 0.15.1 version to

[2020-12-21 08:17] vaibhavdesai16 commented on #669
@dmoebius Can I work on this issue ? I am first time contributor.

[2020-12-21 13:59] vaibhavdesai16 commented on #669
Hi @dmoebius I am willing to work on this bug.

[2020-12-21 14:40] vaibhavdesai16 commented on #701
Hi, @ZeroOne3010 I would like to fix this issue. Should implement Closeable interface and call shutdown() method from close() ?

[2020-12-21 18:55] ZeroOne3010 commented on #701
Hey, please feel free to go ahead! That's how I'd do it too. 😎

[2020-12-22 03:15] vaibhavdesai16 commented on #697
Hi @PratikBorhade302 are you still working on the issue?

[2020-12-22 05:23] PratikBorhade302 commented on #697
no Vaibhav , you can proceed. I had some issue with visa card for google
billing account so I could not continue with it anymore .

On Tue, 22 Dec 2020 at 08:45, Vaibhav Desai <notifications@github.com>
wrote:

[2020-12-22 15:11] dmoebius commented on #669
It seems that "drugstore" has already been added to `AddressType` in release v0.12.0: https://github.com/googlemaps/google-maps-services-java/releases/tag/v0.12.0. So this issue can be closed now.

[2020-12-22 16:11] #701 closed

[2020-12-25 13:59] diicar commented on #696
in version 0.15.0, there is 2 methods but we cant pass a list of types, it would great addition because in my case, I'm only interested two types : ADDRESS or ESTABLISHMENT
`public PlaceAutocompleteRequest type(PlaceAutocompleteType type)`
And
`public PlaceAutocompleteRequest types(PlaceAutocompleteType types)`

thanks

[2020-12-26 18:23] abdul4samad commented on #697
Hi, @PratikBorhade302 may I try to fix this?

[2020-12-27 04:19] PratikBorhade302 commented on #697
ask @vaibhavdesai16 . he might be working on it

[2020-12-27 08:20] abdul4samad commented on #697
Hi @vaibhavdesai16, are you working on it?

[2020-12-30 08:04] AndroidDeveloperLB opened #705 "Places: Bug: missing fields to request on place details #130"
#### Environment details
1. Specify the API at the beginning of the title (for example, "Places: ...")
2. OS type and version
Android 11, but it doesn't matter
3. Library version and other environment information
    implementation 'com.google.android.libraries.places:places:2.4.0'

#### Steps to reproduce
Try to get most updated information of a place details, after you got its basic ones via nea

[2021-01-04 03:15] vaibhavdesai16 commented on #697
Hi @abdul4samad, I am facing issue with GCP billing account. You can work on the issue.

[2021-01-05 12:32] abdul4samad commented on #697
@vaibhavdesai16 Thanks for giving me the chance. I hope the above change will fix the issue.

[2021-01-05 16:49] #697 closed

[2021-01-06 17:04] abdul4samad commented on #675
Hi @jpoehnelt, it's been a long and there is no response from @sumitskj. I guess this is an easy fix and for this I just need to change the return condition of the line [this](https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/DirectionsApi.java#L74).
So may work on it?

[2021-01-06 17:34] jpoehnelt commented on #675
Absolutely.

[2021-01-06 18:42] abdul4samad commented on #675
Thanks! @jpoehnelt ! #709 is assigned to @arriolac

[2021-01-11 14:57] Eagle94T commented on #697
Hi @jpoehnelt
This MR is closed and marked as released, however, there is no new Release in Maven-Central.
Same for versions 0.15.2 and 0.15.1: https://mvnrepository.com/artifact/com.google.maps/google-maps-services

Can you take a look at this and maybe push the releases?

Thanks

[2021-01-11 21:53] vojtapol commented on #689
It is still valid.

[2021-01-19 23:37] #675 closed

[2021-01-20 06:00] hisener commented on #703
Not exactly what you are looking for but v0.15.4 is on Maven Central. 🎉

[2021-01-27 08:52] Eagle94T commented on #697
This Bug still exists in Version 0.15.4 since the error message changed to:
[code]

The URL is currently missing in the Check. maybe it should be a contains instead of a equals: https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/errors/ApiException.java

[2021-01-27 10:24] PratikBorhade302 commented on #697
hey @Eagle94T , can I make above change you mentioned ? I will edit the line of code which `abdul4samad` has changed .

[2021-01-27 12:58] Eagle94T commented on #697
@PratikBorhade302 sure, that would be great for me.

[2021-01-27 19:21] dskrvk commented on #520
This doesn't just apply to serverless, but also to traditional server-based deployments, where multiple servers (or containers) are used for redundancy. Without additional coordination and shared state each instance may encounter rate limit errors even if correctly using the library since it only keeps track of local QPS. A simplistic approach with setting the limit to `service_qps / num_instances

[2021-01-28 15:10] jpoehnelt commented on #703
duplicate of #695

[2021-01-28 15:10] #703 closed

[2021-01-28 15:11] jpoehnelt commented on #703
Investigating, @arriolac has been manually publishing.

[2021-02-02 01:06] arriolac commented on #695
Still getting a 401 https://github.com/googlemaps/google-maps-services-java/runs/1811178803?check_suite_focus=true

[2021-02-04 11:28] LumnitzF opened #718 "Directions: Missing VehicleType LONG_DISTANCE_TRAIN"
The vehicle type "LONG_DISTANCE_TRAIN" (as described [here](https://developers.google.com/maps/documentation/directions/overview#VehicleType)) is missing from the [VehicleType](https://github.com/googlemaps/google-maps-services-java/blob/master/src/main/java/com/google/maps/model/VehicleType.java) enum.

This will result in the `type` attribute beeing `null` inside the [Vehicle](https://github.com

[2021-02-10 17:35] arriolac opened #720 "Prevent google-maps-services-java artifact from being published"
When `./gradlew publish` is run, two artifacts are published to sonatype and github packages: `google-maps-services.jar` and `google-maps-services-java.jar`. The latter should not be published since the former is the correct artifact to consume.

[2021-02-10 17:36] arriolac commented on #718
Thanks for reporting. Feel free to send us a PR for this.

[2021-02-10 17:44] arriolac commented on #705
You are correct that the objects are different and the reason you're seeing this difference is because you're using two different libraries: (1) the `google-maps-services-java` library (i.e. this library), which is not intended for consumption on Android, and (2) the Places SDK for Android. So technically no fields are missing and this is behaving as intended. Let me know if I misunderstood otherw

[2021-02-10 18:00] arriolac commented on #702
The ProGuard rule you mentioned above will work however this is not something we will add on the README since this library is not meant to be used on Android.

[2021-02-10 18:00] #702 closed

[2021-02-10 18:18] AndroidDeveloperLB commented on #705
@arriolac Why isn't there an official SDK from Google for them both? This causes fragmentation and confusion.
The Maps service exists for years...
How can I use only the part of Google that it offers, without the other part?

What do you mean about " findCurrentPlace() API or the findAutocompletePredictions() API " ? Instead of which parts?
I need to get nearby-places around some location, and the

[2021-02-10 18:20] AndroidDeveloperLB commented on #702
@arriolac It's a Java library. Android usually supports Java libraries. And here it's quite "pure" Java, so I don't see why not .

[2021-02-10 18:24] arriolac commented on #705
1. findAutocompletePredictions() will allow you to find nearby places around some location. Take a look at this [sample code](https://github.com/googlemaps/android-places-demos/blob/main/demo-kotlin/app/src/gms/java/com/example/placesdemo/programmatic_autocomplete/ProgrammaticAutocompleteToolbarActivity.kt#L146...L178).
2. For each prediction, you can get the place details using [fetchPlace()](htt

[2021-02-10 18:36] arriolac commented on #702
As the README says:

To explain this further, if you use this library in your Android app, your app's APK will contain an API key without the proper Application restrictions. The "Android apps" Application restrictions when you restrict your API key is only enforced if you use the Android-specific SDKs. So, it's a security risk to distribute an app that uses this library since your API key can be

[2021-02-10 18:52] AndroidDeveloperLB commented on #702
Using Google's solution as on the demos will make it secure?
How so? After all, the key has to be saved in the app, one way or another...

[2021-02-10 19:08] arriolac commented on #702
Yes, it is more secure assuming you apply [application restrictions on your API key](https://developers.google.com/places/android-sdk/get-api-key#restrict_key). This way, if you API was somehow recovered it won't result in unintended charges if they try to use it since API requests would only work in the context of your app. If you're not already doing so, it's also a good idea to also hide your A

[2021-02-10 22:39] AndroidDeveloperLB commented on #702
@arriolac But for both of them you need the API key, and for both you have the control on the website of restricting it.
Once you get the API key, you can fake the app, no? Using same package name?
What do you mean "hide your API key from version control." ?
How can the repository you offered help? In the end, the key is inside the APK file, one way or another.

[2021-02-10 22:41] AndroidDeveloperLB commented on #705
@arriolac Why is it called this way? Why "prediction" ? Why "autoComplete" ? It's very un-intuitive when the API is about nearby-search and getting details about places.

[2021-02-10 23:15] arriolac commented on #705
The suggestion I had above is the closest replacement for nearby search, although I realize that it's not a true replacement for the functionality offered by the Places API. If you need that request on your app and the suggestion I had doesn't work, then setting up a proxy is the safest way to do so.

This table contains a list of data fields not included in the Places SDK for Android which are al

[2021-02-10 23:21] arriolac commented on #702
You can't fake the app with just the package name since the restriction requires having the same signing-certificate fingerprint. The plugin I shared is exactly what I described, it helps facilitate excluding your API key from version control which is yet another layer of protection around your keys

[2021-02-10 23:31] AndroidDeveloperLB commented on #705
@arriolac OK so what's missing compared to what's here?

[2021-02-10 23:32] AndroidDeveloperLB commented on #702
@arriolac I don't understand. In the end, it's a communication with the server. It's some simple GET/POST request with API key. The server can't know if it's a legit app or not. Why would the " signing-certificate fingerprint" of the app matter here? And how is it related to API key? Is it obfuscated using the signature of the app ?

[2021-02-16 17:33] arriolac commented on #702
The SHA-1 fingerprint of the certificate used to sign the app is also sent to the server. So if the application restriction (package name and signing-certificate fingerprint) that you added doesn't match the fingerprint of a request, then the request would be rejected.

[2021-02-16 20:58] AndroidDeveloperLB commented on #702
@arriolac Can't the bytes that are sent over the communication be captured and copied?

[2021-02-18 01:04] #720 closed

[2021-02-18 18:34] #718 closed

[2021-03-09 13:47] LumnitzF commented on #695
It seems this issue is not (completely) resolved, as the current 0.18.0 release is not published.
See: https://github.com/googlemaps/google-maps-services-java/runs/1929700443

[2021-03-09 18:27] arriolac commented on #695
Looking into

[2021-03-19 22:40] #621 closed

[2021-03-19 22:40] #681 closed

[2021-04-06 07:08] tirumala007 opened #726 "ClassNotFoundException: Didn't find class "java.time.ZonedDateTime""
my code to get direction from two positions, i am getting NoClassDefFoundError

api 23 marshmallow
repositories {
    mavenCentral()
}

dependencies {
    implementation 'com.google.maps:google-maps-services:0.18.0'
    implementation 'org.slf4j:slf4j-simple:1.7.25'
}

         private fun calculateDirections(marker: Marker?) {
                           try{
            val directions = Direction

[2021-04-12 08:40] onyx-blackbird opened #727 "Trying to get this to work in an OSGi environment"
First of, there is no OSGi ready bundle for this, right?

I tried to create one myself, you can find my pom and fixes here: https://stackoverflow.com/questions/67024124/osgi-how-to-embed-dependencies-in-a-wrapper-bundle

But I still get a `java.lang.NoClassDefFoundError` but isn't telling me which class, only that it could not initialize this class:
https://github.com/googlemaps/google-maps-servic

[2021-04-17 10:34] #726 closed

[2021-05-14 02:30] DevCeN opened #728 "No variant of PlacesApi#placeAutocomplete() takes no session token"
PlacesApi#placeAutocomplete(GeoApiContext, String, PlaceAutocompleteRequest.SessionToken) hinted user to use a session token (of course user can pass in a null value if they really don't want it), this causes people to add in a session token unnecessarily even when they are not trying to reuse the tokens. This is very bad because sending a placeAutocomplete request with token is charged a few time

[2021-05-15 09:20] apjanke commented on #728
This sounds like a good idea to me. Even if it weren't for the pricing aspect of it, expecting callers to frequently pass `null` for a parameter isn't very modern-Java-y.

Looking at the [Google Maps Pricing Table](https://cloud.google.com/maps-platform/pricing/sheet/) (scroll down to "Places" and compare the "per request" and "per session" pricing), it looks like it's $3 per 100K requests, and $1

[2021-05-17 03:53] DevCeN commented on #728
@apjanke spot on! $17 vs $2.83 is like 6 times more if someone is just calling the API one off with a session token unnecessarily or worst, to generate a new session token in each call. Thanks for supporting the idea!

[2021-05-17 06:47] larsf96 opened #729 "Missing language parameter"
**Is your feature request related to a problem? Please describe.**
The language parameter that can be set e.x. for the Places API is not available with this Library. In some older examples I've seen a language parameter for GeoApiContext, but this property isn't available any more?!

 **Describe the solution you'd like**
A language parameter should either be re-added to the GeoApiContext or to the

[2021-05-17 17:36] arriolac commented on #729
You should be able to set the language on a per-request basis. This is supported in the abstract base class [PendingResultBase](https://github.com/googlemaps/google-maps-services-java/blob/main/src/main/java/com/google/maps/PendingResultBase.java#L145) which the request objects inherit from. What version of the library are you using?

[2021-05-17 17:59] arriolac commented on #728
Agreed that `PlacesApi` should support a variant that does not take in a `SessionToken` as a more developer-friendly API to support use cases where autocomplete requests are kept at a minimum.

Requested API:
[code]

Would you like to send us a PR for this feature?

[2021-05-17 23:18] #689 closed

[2021-05-18 16:30] arriolac opened #730 "Consolidate release and publish workflows"

[2021-05-18 18:12] #730 closed

[2021-05-19 01:08] DevCeN commented on #728
Thanks @arriolac, I will find my time as I haven't done it before and obviously haven't signed any CLA. Meanwhile if anyone wants to do a PR feel free to do so.

[2021-05-24 15:17] william-vw opened #733 "Places: NearbySearchRequest callback not being called"
---
#### Environment details

1. Specify the API at the beginning of the title (for example, "Places: ...")
Places API

2. OS type and version
Ubuntu 20.04

3. Library version and other environment information
google-maps-services 0.18.1
OpenJdk 11.0.11

#### Steps to reproduce

  1. See code snippet below. The callback is simply not being called. Sorry if I'm missing something obvious.

#### Code

[2021-06-02 17:16] #694 closed

[2021-06-10 11:11] Ramnathpraveen opened #735 "Application will not load in android 11 when trying to use suggested sdk."
In Android when trying to do the suggested implementation. the application gets crashed on load for android 11. works fine with all other versions of android

[2021-06-16 05:39] vaibhavdesai16 commented on #728
Hi @arriolac I am interested to work on the issue.

[2021-06-16 13:11] neha737 commented on #544
thank you so much. my issue is resolved now.

[2021-06-16 14:24] CaptainParanoid commented on #544
Actually it is not a good idea to do this on a production application, however for college projects or hobby projects this is fine. It will saves you time on setting up a server.

[2021-06-16 17:30] arriolac commented on #728
@vaibhavdesai16 please feel free to send a PR. Thanks!

[2021-06-17 05:31] neha737 commented on #544
then, whats the  solution?

[2021-06-17 05:35] CaptainParanoid commented on #544
You will have to setup a server, setup an api and make android app use that api instead of directly using the maps api. This package is meant for server application that's why it doesn't directly work with android.

[2021-06-25 23:21] rwaldura commented on #735
are you getting the error:

[code]

[2021-06-26 03:32] rwaldura commented on #735
My workaround was to target Android 10 instead — granted, a mere workaround.
In app ``build.gradle``:
``targetSdkVersion 29``

[2021-07-07 22:28] #735 closed

[2021-07-07 22:28] #729 closed

[2021-07-07 22:32] arriolac commented on #733
You will need to call `.await()` or `.awaitIgnoreError()` on the request to trigger the request. See https://github.com/googlemaps/google-maps-services-java/blob/1ff58c604e43f544ffbddd35abf1325305715f7a/src/main/java/com/google/maps/PendingResultBase.java#L56...L64

[2021-07-07 22:32] #733 closed

[2021-07-08 12:59] william-vw commented on #733
@arriolac that will perform the request synchronously - the [API doc](http://googlemaps.github.io/google-maps-services-java/v0.1.12/javadoc/com/google/maps/NearbySearchRequest.html#setCallback-com.google.maps.PendingResult.Callback-) states the following about `setCallback`:

So is there no asynchronous way to perform the request (no problem if there's not - in that case maybe the API doc should b

[2021-07-08 13:01] william-vw commented on #733
See https://github.com/googlemaps/google-maps-services-java/blob/1ff58c604e43f544ffbddd35abf1325305715f7a/src/main/java/com/google/maps/PendingResultBase.java#L51

The `makeRequest` method is also called by `setCallback` ..

[2021-07-08 15:24] arriolac commented on #733
Apologies, I misunderstood your question. `setCallback` should give you the result asynchronously. The reason you are not seeing a result is likely due to the request object getting deallocated before the result comes back. You'll need to keep a reference to the `NearbyPlacesTest ` object or impose a thread sleep after invoking `test()` (there are a several ways to handle this).

[2021-07-08 20:18] william-vw commented on #733
Thanks, will look into it!

[2021-07-20 17:15] rwaldura commented on #657
Biseamon: is this merely a typing issue? i.e. incompatible types?
Note there are 2 LatLng classes: `com.google.maps.model.LatLng` vs. `com.google.android.gms.maps.model.LatLng`
You need to convert between the two, e.g. using these utility functions:

[code]

Your code becomes:

[code]

[2021-07-26 18:14] arriolac opened #739 "Enforce API key restrictions for Android consumers"
**Is your feature request related to a problem? Please describe.**
Since inception, the `google-maps-services-java` library has discouraged Android developers from including this library in their app due to unrestricted API keys being packaged as part of an APK (see [Intended Usage of this Library](https://github.com/googlemaps/google-maps-services-java#intended-usage-of-this-library)). This featu

[2021-07-26 21:59] #739 closed

[2021-08-13 18:10] arriolac opened #743 "Support setting experienceId per request"
**Is your feature request related to a problem? Please describe.**
Currently, experienceIds can only be set on `GeoApiContext` via [setExperienceIds()](https://github.com/googlemaps/google-maps-services-java/blob/1ff58c604e43f544ffbddd35abf1325305715f7a/src/main/java/com/google/maps/GeoApiContext.java#L173). This is limiting for use-cases that require setting different experienceIds concurrently w

[2021-08-19 02:03] acarlstein commented on #552
By any chance, do you know what library is designed for use in Android then?

[2021-08-19 09:14] domesticmouse commented on #552
I'd start with https://developers.google.com/maps/documentation/android-sdk/overview. I'm sure there are utility libraries that layer on top, but I don't know them off hand.

[2021-08-20 16:14] arriolac commented on #552
Heya! Since version [0.19.0](https://github.com/googlemaps/google-maps-services-java/releases/tag/v0.19.0) of this library, we lifted the previous limitation since you now can apply API key restrictions while using this library on Android. If there are any Android-specific incompatibilities, please file an issue.

[2021-09-07 11:30] bashoogzaad opened #745 "ClassNotFoundException: com.google.appengine.api.urlfetch.URLFetchServiceFactory (Java 11, App Engine)"
I am currently migrating App engine from java 8 to java 11, and I get the following error:

`java.lang.ClassNotFoundException: com.google.appengine.api.urlfetch.URLFetchServiceFactory at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:471) at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589) at org.springframework.boot.loader.LaunchedURLClassLoader.loadClass(LaunchedU

[2021-09-15 20:34] #743 closed

[2021-10-14 06:49] chdlsp commented on #745
![image](https://user-images.githubusercontent.com/44944612/137265737-41f07919-657e-4605-9b99-5e544891fa32.png)

I don't this it is problem with the SDK version.
Instead, I guess this problem is from Gradle or IDE something but I cannot still figure it out.

Anyway, this problem will be fixed soon whatever the problem is from.

[2021-10-17 22:56] chdlsp commented on #745
@bashoogzaad After add appengine library, It works well :) Thank you!

[2021-11-01 19:26] huanlenguyen opened #767 "Add support for the language param"
Language param is missing from PlaceAutocompleteRequest.  Are there plans to add it?

[2021-11-01 22:27] arriolac commented on #767
`PlaceAutocompleteRequest` extends from `PendingResultBase` which supports setting a [language](https://github.com/googlemaps/google-maps-services-java/blob/main/src/main/java/com/google/maps/PendingResultBase.java#L176) param.

[2021-11-02 01:38] huanlenguyen commented on #767
Thanks, missed that.

[2021-11-02 01:38] #767 closed

[2021-11-05 12:16] egrotowska opened #769 "Vulnerability in com.google.code.gson:gson"
Hello,

There is a vulnerability being reported affecting com.google.code.gson:gson@2.8.7, which is a dependency of google-maps-services@1.0.0: https://security.snyk.io/vuln/SNYK-JAVA-COMGOOGLECODEGSON-1730327

Could the gson library please be updated to @2.8.9?

[2021-11-05 20:31] arriolac commented on #769
Thanks for flagging. Looks like it's already updated to the 2.8.9 in https://github.com/googlemaps/google-maps-services-java/blob/main/build.gradle#L56 but will need to push out a new version. Will do that shortly

[2021-11-05 20:51] arriolac commented on #769
Please use 1.0.1 moving forward. Thanks!

[2021-11-05 20:51] #769 closed

[2021-11-14 13:44] rollie42 opened #770 "Support access via IAM credentials"
Simply, the documentation in the Readme states that this library requires 'A Google Maps API key.', but most other services I've used (like Storage, for example) allow and default to using IAM credentials supplied via environment variable GOOGLE_APPLICATION_CREDENTIALS. When enabling the Places API through console, it lists 3 forms of valid authorization - API key, OAuth (for accessing user data),

[2021-11-19 15:55] moadi opened #771 "Reuse OkHttpRequestHandler across multiple GeoApiContext's"
Hello,

We're currently using this library across several of our services, and ran into resource exhaustion similar to what folks have reported [in this issue](https://github.com/googlemaps/google-maps-services-java/issues/261).

Our services are in a monorepo and we provide a common class to initialize a `GeoApiContext`. In some legacy services, we can use different API keys for constructing this

[2021-11-19 16:50] moadi commented on #771
looked at the code, don't think I can do this.

[2021-11-19 16:50] #771 closed

[2021-11-30 22:24] franrolando opened #775 "Nearby search request with tokenpage not working"
#### Environment details

1. Places API
2. Win 10 64 bits (Local testing)
3. Java dependency version 1.0.1v. Spring boot 2.5.5.

#### Steps to reproduce

  1.  Execute the code below.

#### Code example

[code]

#### Stack trace

Inside the while loop the code throws the following exception, but if you debug the code and let pass a few seconds between await() invocations the code works well
[code]

[2021-12-03 15:19] franrolando commented on #775
Is because google's license terms don't allow you to fetch all the results at once and return them all at once to the user. You should have a user action asking for more results, which adds a delay of a couple of seconds.

[2021-12-03 15:19] #775 closed

[2021-12-22 11:23] ForgeSeven commented on #261
Version 1.0.1 is still suffering a thread leak.

Even using the GeoApiContext as a _singleton_, a "Rate Limited Dispatcher" thread is created for each call and not cleared up (there is however only one RateLimitExecutorDelayThread)

I have had to resort to creating and destroying the GeoApiContext everytime we call the API, in a try-with-resources statement to get around this problem. This doesn't

[2021-12-30 08:05] GQ22Nkosi opened #786 "Mapsgq"
**PLEASE READ**

If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/). This will ensure a timely response.

Discover additional support services for the Google Maps Platform, including developer communities, technical guidance, and expert support at the Google Maps Platform [support resources page](https://developers.google.

[2021-12-30 16:31] #786 closed

[2022-01-05 17:27] arriolac opened #788 "Support experience ID in RoadsAPI"
PR #744 introduced a change to set an experience ID on a per-request basis. However, it looks like this header value is not settable while using RoadsAPI as the requests do not inherit from `PendingResultBase`. This should be updated so that experience ID can be set while using Roads API.

[2022-01-19 15:41] madness-inc commented on #270
For anyone who's interested in this topic:
Google says this is "intended behaviour", as state in theses (and many related) tickets:
https://issuetracker.google.com/issues/35822155
https://issuetracker.google.com/issues/173897415

[2022-01-31 13:43] mortenholmgaard commented on #726
@tirumala007 I have the same issue - how did you solve it?

[2022-02-17 13:20] CarlRobinsonRAM opened #805 "Feature Request: Allow base URL of context to be overridden."
Hi,

In the tests for the various APIs a class called LocalTestServerContext is used. If anybody want to make their own they are unable to due to baseUrlOverride on GeoApiContext.Builder being package private.

Please could this be changed to allow others to build a test context in a similar way!

Thanks,
Carl

[2022-02-17 13:20] jpoehnelt commented on #805
@CarlRobinsonRAM Thank you for opening this issue. 🙏
Please check out these other resources that might be applicable:

- [Support Console](https://cloud.google.com/support/) - If you have a support contract.
- [Discord](https://discord.gg/9UpV862xZ9) - chat with other developers
- [StackOverflow](http://stackoverflow.com/questions/tagged/google-maps) - use the `google-maps` tag
- [Google Maps Plat

[2022-03-01 08:25] utsabn34 opened #807 "ADMINISTRATIVE_AREA_LEVEL_6 and ADMINISTRATIVE_AREA_LEVEL_7 is missing from AddressComponentType"
Hi Team,
It looks like ADMINISTRATIVE_AREA_LEVEL_6 and ADMINISTRATIVE_AREA_LEVEL_7 is missing from AddressComponentType which is highly used for the Geocoding address component in country like Indonesia. This address component is also being returned by Google in Geocoding API. So please add this two Address Component Type in the /google-maps-services-java/blob/main/src/main/java/com/google/maps/mo

[2022-03-01 08:25] jpoehnelt commented on #807
@utsabn34 Thank you for opening this issue. 🙏
Please check out these other resources that might be applicable:

- [Support Console](https://cloud.google.com/support/) - If you have a support contract.
- [Discord](https://discord.gg/9UpV862xZ9) - chat with other developers
- [StackOverflow](http://stackoverflow.com/questions/tagged/google-maps) - use the `google-maps` tag
- [Google Maps Platform is

[2022-03-01 21:37] arriolac commented on #807
Please feel free to submit a pull request for this. Thanks!

[2022-03-03 10:42] Kobee1203 commented on #261
I noticed a problem when instantiating GeoApiContext.Builder.

I want to use my own RequestHandler.Builder. So I used the `GeoApiContext.Builder.requestHandlerBuilder(RequestHandler.Builder)` method:
[code]

This creates threads that are never closed.
If we look at the details, we see that `new GeoApiContext.Builder()` creates a new `OkHttpRequestHandler.Builder`:

[code]

`new OkHttpRequestHandle

[2022-04-10 01:52] LDuncAndroid commented on #672
As a HTTP GET request is synchronous by nature, do you need to spawn a new coroutine at the point you are in the code causing the issue? I believe the solution would be to implement asynchronous behaviour in your client.

[2022-04-16 02:41] #727 closed

[2022-04-16 02:41] #696 closed

[2022-04-16 02:41] #691 closed

[2022-04-25 10:37] CarlRobinsonRAM commented on #805
@arriolac any chance you could take a look at the PR on this to determine if this is acceptable. Thanks Carl

[2022-04-27 15:30] YLombardi opened #813 "How to format and encode address when using GeocodingApi ?"
I'm working on a Spring application that uses google-maps-service 2.0.0.
I try to use the GeocodingApi but I don't understand how to format the address.
Do you know if there is a documentation that explains how to use this ?

In the official Google documentation, there is exemples for the javascript api, like this :
https://developers.google.com/maps/documentation/javascript/examples/geocoding-sim

[2022-04-29 01:56] #728 closed

[2022-05-06 12:29] raghulvishnudhinesh opened #816 "CVE In Google Maps Services 2.0.0"
#### Environment details

1. com.google.maps:google-maps-services:2.0.0
#### Steps to reproduce

  We see the above jar has a transitive dependency to org.jetbrains.kotlin:kotlin-stdlib:1.4.10 which has a CVE reported by our CVE scanning tool.okhttp was the library referring to this dependency. okhttp has released a new alpha version (5.0.0-alpha.6) that includes a newer version kotlin (1.6.10) wi

[2022-05-06 12:29] jpoehnelt commented on #816
@raghulvishnudhinesh Thank you for opening this issue. 🙏
Please check out these other resources that might be applicable:

- [Support Console](https://cloud.google.com/support/) - If you have a support contract.
- [Discord](https://discord.gg/9UpV862xZ9) - chat with other developers
- [StackOverflow](http://stackoverflow.com/questions/tagged/google-maps) - use the `google-maps` tag
- [Google Maps

[2022-05-09 06:27] utsabn34 commented on #807
@arriolac @jpoehnelt  Any update on this ticket?

[2022-05-12 15:10] Kobee1203 opened #826 "[Google Static Maps] Handle styles Maps with the "style" parameter"
I use the Google Static Maps API and I would like to customize the presentation of the Map by applying my own styles.

I found this documentation: https://developers.google.com/maps/documentation/maps-static/styling

 **Is your feature request related to a problem? Please describe.**

But I can't find a method in `StaticMapsRequest.java` to add styles.

As an alternative, I used `StaticMapsRequest

[2022-05-23 14:33] pmayeur commented on #816
@arriolac any update or ETA on this security issue?

[2022-05-23 15:01] TheEruditePolymath commented on #816
Who's Arrioloac?

On Mon, May 23, 2022, 11:01 AM Matthew Donahue ***@***.***>
wrote:

[2022-05-24 17:00] pmayeur commented on #816
The person currently assigned to this ticket.....

[2022-05-25 08:30] deconinckd opened #828 "Places api uses client id (enterprise credentials) instead of apikey when both are configured"
Hello,

We have an application that uses the Google API for PlacesAPI, TimeZoneApi and GeoCodingAPI.

Now we have a GeoContext spring bean defined where we set the API key and the Enterprise credentials. Which we inject in our service to use for the calls to the api's

[code]

Whenever we do a call to the placesAPI then it builds the url like below with the client and signature instead of the apiK

[2022-05-27 22:31] #816 closed

[2022-05-27 22:32] amuramoto commented on #816
Thanks for reporting!

[2022-06-01 20:58] amuramoto commented on #805
Thanks for the PR!

[2022-06-02 12:39] tellnobody1 commented on #816
Please publish to Maven Central.

[2022-06-03 23:05] amuramoto commented on #816
FYI - just released

[2022-06-06 17:52] tovbinm opened #832 "java.lang.NoClassDefFoundError: okhttp3/Interceptor"
[code]

#### Environment details

1. Java 11
2. Mac OS X 12.3.1
3. `com.google.maps:google-maps-services:2.1.0`

#### Code example

[code]

#### Additional information
The issue does not exist on `com.google.maps:google-maps-services:2.0.0`

[2022-06-07 20:28] benwaffle commented on #832
I see the okhttp 5.0.0-alpha7 jar has no class files in it. Is this a Java 9 modules thing? An issue with how okhttp published it?
[code]

okhttp 4.9.3 has class files

[2022-06-13 18:00] pmayeur commented on #832
@arriolac is there any update or timeline for a fix?

[2022-06-14 09:27] Selaron commented on #832
[okhttp Version 5.0.0-alpha.4](https://github.com/square/okhttp/blob/b2071d51ba8bcbccbd2f9e3eec76c286512160e3/CHANGELOG.md#version-500-alpha4) is the first version without class files.

[2022-06-22 20:15] Stephan202 commented on #832
I filed #839, which should resolve this issue.

[2022-06-22 21:09] benwaffle commented on #832
If it is related to the kotlin-multiplatform change, that's here - https://github.com/square/okhttp/commit/3ad1912f783e108b3d0ad2c4a5b1b89b827e4db9. @swankjesse, do you have any insight, could this NoClassDefFoundError be related?

[2022-06-22 21:21] swankjesse commented on #832
We’re tracking this here:
https://github.com/square/okhttp/issues/7339

In 5.x we adopted a Gradle feature for resolving artifacts that doesn’t work in Maven, so we’re going to update our builds to not require that feature.

[2022-06-22 21:28] benwaffle commented on #832
thanks! Does that issue apply even when just the library (google-maps-services-java) depends on okhttp3 and the app does not?

[2022-06-24 09:11] bapunr opened #840 "no response for lat long with negative values with java sdk 2.1"
#### Environment details

java 8
 springboot 2.2.2
google-maps-services 2.1.0

#### Steps to reproduce

fetching reverse geocoding for given latitude and longitude.
 i am able to fetch adress for lat long with positive values (e.g : 37.33888/121.87482)
But not getting any response after retry also for latitude and longitude with negative values (e.g: 37.33888/-121.87482)

#### Code example

[code]

[2022-06-24 10:44] #840 closed

[2022-07-05 10:15] raghulvishnudhinesh commented on #832
Any updates on the fix?

[2022-07-05 11:18] Stephan202 commented on #832
It would be nice if one of the maintainers had a look at #839.

[2022-07-26 20:05] marcin-adamczewski commented on #702
As the library is recommended to be used in Android now, what about adding proguard rules to README?

I tried to do Geocoding but `geometry` field of `GeocodingResult` class didn't exist. For now, I fixed it by adding the
`-keep class com.google.maps.model.** { *; }` rule as probably some models are being parsed with Gson. I don't know if it is enough so it would be nice to have these rules in REA

[2022-09-06 16:40] irineuruiz commented on #832
Same problem here, due to this issue we can't update the jar from 2.0.0 to 2.1.0

[2022-10-06 14:36] Kobee1203 commented on #826
...

[2022-10-17 22:47] FrankyDigital opened #859 "Franky cloud"
Thanks for stopping by to let us know something could be better!

---
**PLEASE READ**

If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/). This will ensure a timely response.

Discover additional support services for the Google Maps Platform, including developer communities, technical guidance, and expert support at the Go

[2022-10-17 22:49] FrankyDigital opened #860 "Franky"
**PLEASE READ**

If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/). This will ensure a timely response.

Discover additional support services for the Google Maps Platform, including developer communities, technical guidance, and expert support at the Google Maps Platform [support resources page](https://developers.google.

[2022-10-18 20:36] #832 closed

[2022-10-25 13:13] irineuruiz commented on #832
Any reason why the latest maven release is still v2.1.0?

https://search.maven.org/search?q=a:google-maps-services

https://mvnrepository.com/artifact/com.google.maps/google-maps-services

[2022-10-26 15:14] irineuruiz opened #865 "Latest release is not available in the Maven repository"
Is there any reason that version 2.1.1 is not yet available in the Maven repository?

https://search.maven.org/search?q=a:google-maps-services

[2022-10-26 20:50] mthl opened #866 "Providing an automatic module name"
Since Java 9, Java provides a module system known as Jigsaw which allow library authors to restrict access of their internal packages and provide a better explicit dependency abstraction.

In order to benefit from this "new" feature, Java libraries need to provide a `module-info.java` file inside the jar artefact to declare what they requires and what they exports.

However since this can be non-t

[2022-10-27 09:32] anprav opened #868 "Places API : (bg thread: 82): Unknown type for enum com.google.maps.model.AddressComponentType: 'landmark' com.google.maps.internal.SafeEnumAdapter.read:64"
#### Environment details

1. Specify the API : Places API
2. OS type and version : linux centos7
3. Library version and other environment information: 2.1.0

#### Steps to reproduce

  1. This warning is thrown when the places api returns a place type 'landmark'

#### Stack trace
[code]

[2022-10-29 14:30] zhengcan commented on #832
+1

[2022-11-01 12:59] plgagnon2 opened #871 "locationbias missing in placeAutocomplete?"
Why isnt locationbias available on PlacesApi.placeAutocomplete?

https://developers.google.com/maps/documentation/places/web-service/autocomplete#locationbias

https://www.javadoc.io/doc/com.google.maps/google-maps-services/latest/com/google/maps/PlaceAutocompleteRequest.html

[2022-11-02 18:32] plgagnon2 commented on #871
any info on this?

[2022-11-03 00:42] amuramoto commented on #832
Oops - looks like something borked in the release action. Just published as 2.1.2

[2022-11-20 17:05] plgagnon2 commented on #871
bump? anyone answering here?

[2022-11-23 09:53] michael-ameri opened #877 "Places: PlaceAutocompleteType is missing values"
#### Environment details

Library version: 2.1.2

#### Code example

[code]

2 issues:

1. The PlaceAutocompleteType enum only covers a small subset of available types according to https://developers.google.com/maps/documentation/places/web-service/supported_types#table2
2. There is no way to use multiple types, which is possible via REST calls.

[2022-11-24 15:04] anprav commented on #868
Hey, any updates on this?